<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.member.mapper.MemberMapper">
	<!-- 로그인 단건조회 -->
	<select id="selectLoginInfo">
		SELECT login_id
		       ,pw
		       ,auth
		FROM login_info
		WHERE login_id = #{loginId}
	</select>
	<!-- 임대인 단건조회 -->
	<select id="selectImdaeinInfo">
		SELECT imdaein_id
		      ,imdaein_name
		      ,imdaein_email
		      ,birth
		      ,phone
		FROM imdaein
		WHERE imdaein_id = #{id}
	</select>
	<!-- 임대인 중복체크 -->
	<select id="ckIdDupl">
		SELECT COUNT(*)
		FROM imdaein
		WHERE imdaein_id = #{id}
	</select>
	
	<!-- 로그인정보 중복체크 -->
	<select id="existsByLogin">
		SELECT COUNT(*)
		FROM LOGIN_INFO
		WHERE login_id = #{loginId}
	</select>
	
	<!-- 임대인 단건추가 -->
	<insert id="insertImdaein">
		INSERT INTO imdaein (
		    imdaein_id,
		    imdaein_name,
		    imdaein_email,
		    birth,
		    phone
		) 
		VALUES (
		    #{imdaeinId},
		    #{imdaeinName},
		    #{imdaeinEmail},
		    #{birth},
		    #{phone}
		)
	</insert>
	<!-- 로그인정보 단건추가 -->
	<insert id="insertLogin">
		INSERT INTO login_info(
			login_id,
			pw,
			auth
		)
		VALUES(
			 #{loginId}
			,#{pw}
			,#{auth}
		)
	</insert>
	<!-- 임차인 단건추가 -->
	<insert id="insertImchain">
		INSERT INTO imchain(
			imchain_id,
			imchain_name,
			room_no
		)
		VALUES(
			#{imchainId}
			,#{imchainName}
			,#{roomNo}
		)
	</insert>
	
	<!-- 로그인권한 임차인으로 변경 -->
	<update id="updateAuthImchain">
		update login_info
		SET auth = 2
		WHERE login_id = #{loginId}
	</update>
	
	<!-- 임차인단건 삭제 -->
	<delete id="deleteImchain">
		DELETE FROM imchain
		WHERE imchain_id = #{imchainId}
	</delete>
	<!-- 로그인단건 삭제 -->
	<delete id="deleteLogin">
		DELETE FROM login_info
		WHERE login_id = #{login_id}
	</delete>
</mapper>