<div xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Main">

	<div class="container-fluid pt-4 px-4">
		<div class="row g-4">
			<div class="col-md-12">
				<div class="bg-light rounded h-100 p-4">
					<h6 class="mb-4">공지사항</h6>
					<table class="table">

						<tr class="col-md-12">
							<th style="width: 5%">제목</th>
							<td style="width: 30%">[[${BNotice.title}]]</td>
							<th>조회수</th>
							<td>[[${BNotice.views}]]</td>
						</tr>
						<tr>
							<th style="width: 10%">첨부파일</th>
							<td><img style="width: 30%"
								th:each=" img : ${BNotice.fileName}"
								th:src="@{/images/공지사항/{fileName}(fileName=${img})}" /></td>
						</tr>
						<tr>
							<th>최초등록일</th>
							<td>[[${#dates.format(BNotice.regDate,'yyyy/MM/dd')}]]</td>
							<th style="width: 10%">수정일</th>
							<td>[[${#dates.format(BNotice.modDate,'yyyy/MM/dd')}]]</td>
						</tr>
						<tr>
							<td colspan="12" id="textarea">[[${BNotice.content}]]</td>
						</tr>

					</table>
				</div>
			</div>
		</div>
		<div style="text-align: center" th:if="${login.auth==1}">
			<button type="button"
				th:onclick="|location.href='@{/noticeBuildingUpdate(postNo=${BNotice.postNo})}'|"
				class="btn btn-outline-warning m-2">수정</button>
			<button type="button"
				th:onclick="|location.href='@{/noticeBuildingList(nowPage=${pagingSearchDTO.nowPage}, scKeyword=${param.scKeyword})}'|"
				class="btn btn-outline-success m-2">목록</button>
			<button type="button"
				th:onclick="|location.href='@{/noticeBuildingDelete(no=${BNotice.postNo})}'|"
				class="btn btn-outline-danger m-2">삭제</button>
		</div>
	</div>
</div>
<script>
	var str = $('#textarea').html();

	str = str.replace(/(?:\r\n|\r|\n)/g, '<br/>');

	$('#textarea').html(str);
</script>