<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
</head>
<style>
</style>
<body>
	<div layout:fragment="Main">
		<select class="form-select mb-6" aria-label="Default select example">
			<option selected>조회할 기간 선택(최근 3개월)</option>
			<option<!-- <option th:each="payMonth : ${payInfo}"
					th:text="${payMonth.paymentMonth}" th:value=${payMonth.} -->
		</select>
		<div class="col-sm-12 col-xl-6">
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4">Hoverable Table</h6>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>John</td>
							<td>Doe</td>
							<td>jhon@email.com</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>mark@email.com</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>jacob@email.com</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		$('tbody > tr').on('click', function(event) {
			let date = new Date();
			let Month = date.getMonth();
			console.log(Month + "월");
		})
	</script>
</body>
</html>
