<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<style>
/* .row {
	border: 1px solid white;
} */
#container {
	justify-content: center;
}

table {
	text-align: center;
	justify-content: center;
}

.form-check {
	justify-content: center;
}

th, td {
	text-align: center;
}

.delete {
	text-align: center;
}

</style>
</head>
<body>
	<div layout:fragment="Main" class="container col-xl-7 ">
		<div class='row'>
			<h4 class="mb-4">납부</h4>

			<form id="updateForm">
				<div class="justify-content-md-center">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2" class="bg-light">납부 내역 &nbsp; &nbsp;<select
									aria-label="Default select example" id="option">
										<option selected>기간선택</option>
								</select></th>
							</tr>
							<tr>
								<th class="bg-light">월세</th>
								<th class="bg-light">관리비</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<!-- 월세 출력 -->
								<td class="col-md-6">
									<table style="width: 100%">
										<tbody>
											<tr id="test">
												<td class="delete" id="rentMonth"></td>
												<td>&nbsp; &nbsp;</td>
												<td class="delete" id="Rentpay"></td>
											</tr>
										</tbody>
									</table>
								</td>

								<td class="col-md-6">
									<table style="width: 100%">
										<tbody>
											<tr>
												<td class="delete" id="gwanlibiMonth" ></td>
												<td>&nbsp; &nbsp;</td>
												<td class="delete" id="Gwanlibi"></td>
											</tr>
										</tbody>
									</table>
								</td>
					</table>


					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2" class="bg-light">납부 예정</th>
							</tr>
							<tr>
								<th class="bg-light">월세</th>
								<th class="bg-light">관리비</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<!-- 월세 출력 -->
									<table style="width: 100%">
										<tbody id="mRentTotal">
											<th:block th:each="payInF : ${payInfo.mr}">
												<tr th:if="${payInF.paymentMoney > 0}">
													<td><div class="form-check">
															<input class="form-check-input check" type="checkbox"
																th:value="${payInF.mRentHistoryNo}" id="mRentCheck"
																name="mRentHistoryNo"><label
																class="form-check-label" for="flexCheckDefault"></label>
														</div></td>
													<td>[[${#strings.substring(payInF.paymentDate, 0,
														11)}]]&nbsp;</td>

													<td>[[${#numbers.formatInteger(payInF.paymentMoney, 3,
														'COMMA')}]]원</td>
													<td th:if="${payInF.paymentState == -1}"><font
														color="red">&nbsp; 연체</font></td>
													<td th:if="${payInF.paymentState != -1}"><font
														color="green">&nbsp; 예정</font></td>
												</tr>
											</th:block>
											<tr th:if="${#lists.size(payInfo.mr)}== 0">
												<td class="text-align: center;">미납 및 납부예정금이 없습니다.</td>
											</tr>
										</tbody>
									</table> <!-- 관리비 출력 -->
								<td>
									<table style="width: 100%">
										<tbody id="gwanlibiTotal">
											<th:block th:each="payInF : ${payInfo.gw}">
												<tr th:if="${payInF.gaguGwanlibi > 0}">
													<td class=""><div class="form-check">
															<input class="form-check-input check" type="checkbox"
																th:value="${payInF.gaguPaymentHistoryNo}"
																id="gwanlibiCheck" name="gaguPaymentHistoryNo"><label
																class="form-check-label" for="flexCheckDefault"></label>
														</div></td>
													<td>[[${#strings.substring(payInF.paymentMonth, 0,
														11)}]]&nbsp;</td>
														
													<td>[[${#numbers.formatInteger(payInF.gaguGwanlibi, 3,
														'COMMA')}]]원</td>
													<td th:if="${payInF.paymentYN == -1}"><font
														color="red">&nbsp; 연체</font></td>
													<td th:if="${payInF.paymentYN != -1}"><font
														color="green">&nbsp; 예정</font></td>
												</tr>
											</th:block>
											<tr th:if="${#lists.size(payInfo.gw)}== 0">
												<td style="text-align: center;">미납 및 납부예정금이 없습니다.</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-bordered col-6">
						<tr>
							<th class="col-4 bg-light" style="vertical-align: middle">결제 금액</th>
							<td id="total" class="col-4" style="vertical-align: middle">0원</td>
							<th class="col-4">
								<button type="button" id="payBtn"
									class="btn btn-outline-primary">결제하기</button>
							</th>
						</tr>
					</table>
				</div>
			</form>
		</div>



		<script src="https://cdn.bootpay.co.kr/js/bootpay-3.3.6.min.js"
			type="application/javascript"></script>

		<script>
		
			//		<<<<<<<<< 완납내역 >>>>>>>>>>>
			
			//공통함수-날짜포맷 변환을 이용해 조회날짜 기준 이전 3개월치의 날짜를 출력
			let date = new Date();
			let nowMonth = dateToM(date);
			let startMonth = nowMonth - 4;
			let year = dateToYear(date)
			let yearM;
			for (let i = startMonth; i < nowMonth - 1; i++) {
				let optionDate = dateToM(new Date(year, i, 1));
				let selected = '';
				yearM = dateToYM(new Date(year, i, 1))
				if(i == nowMonth -2){
					selected = "selected";
				}
				//console.log(dateToM(new Date(year, i, 1)));
				$('#option').append( `<option value="${yearM}" ${selected}>` + optionDate + '월 </option>');
			}

			//납부조회 날짜를 클릭했을 때 해당 월의 납부 조회기록 출력을 위해 Ajax 사용

			$('#option').on('change', selectMonth)
			$('#option').trigger('change')

			function selectMonth(event) {
				let payDate = event.target.value;

				console.log(payDate,'asdfasdf');

				$.ajax(ctxPath + "/paymentAjax", {
							type : "GET",
							//contentType : "application/json",
							data : {
								payDate : payDate
							},
					})
					.done( function(data) {
							let gw = data.gw;
							let mr = data.mr;
							console.log("ddddddddd : ", data);

							//현재 다른 결제월의 test데이터는 없는데, 다른 결제월을 선택해도 기존의 결제일에 출력된 데이터가 계속 남아있어서 작성함.
							$('.delete').html('');
							
							// 월세(납부예정금이) 없는 경우
							if(mr.length==0){										
								$('#rentMonth').html('납부하신 내역이 없습니다.');
							}
							
							//관리비(납부예정금) 없는 경우
							if(gw.length==0){
								$('#Gwanlibi').html('납부하신 내역이 없습니다.');
							}
							
							//관리비 납부내역 출력
							for (let i = 0; i < gw.length; i++) {
									let paymentMonth = gw[i].paymentMonth; //2024-07-07 00:00:00()
									let yearG = paymentMonth.substring(0, 4); //2024
									let monthG = paymentMonth.substring(5, 7); //07
									let dayG = paymentMonth.substring(8, 10); //07
									let payG = `${yearG}/${monthG}/${dayG}`; //2024/07/07

									$('#gwanlibiMonth').html(payG);
									$('#Gwanlibi').html(
													gw[i].gaguGwanlibi
															.toString()
															.replace(/\B(?=(\d{3})+(?!\d))/g, ",") + "원");
							} 
							
							//월세 납부내역 출력
							for (let i = 0; i < mr.length; i++) {
								console.log(i+"확인");
								let realPaymentDate = mr[i].realPaymentDate;
								console.log(realPaymentDate+"확인");
								let yearM = realPaymentDate.substring(0, 4); //2024
								let monthM = realPaymentDate.substring(5, 7); //07
								let dayM = realPaymentDate.substring(8, 10); //07e
								let payM = `${yearM}/${monthM}/${dayM}`;
								
								
								$('#rentMonth').html(payM);
								$('#Rentpay').html(mr[i].realPaymentMoney
														.toString()
														.replace(/\B(?=(\d{3})+(?!\d))/g,",") + "원");

							}
								
					})
			}

			//			<<<<<<<<< 미납내역 >>>>>>>>>>>

			//체크한 달의 관리비 값 합산
			$(".check")
					.click(

							function(e) {

								let total = 0;

								//관리비 체크박스
								let GwanlibiCheck = $('#gwanlibiTotal').find(
										'tr');
								for (let i = 0; i < GwanlibiCheck.length; i++) {
									//find(배열 내에서 특정 요소(id가 checkbox)를 찾아냄), prop() : 체크여부에 따라 true, false 반환
									if (GwanlibiCheck.eq(i).find('.check')
											.prop("checked")) {
										 let gwanlibi = (GwanlibiCheck.eq(i)
												.children().eq(2).text()
												.replaceAll(",", "")).split('원');
										console.log(Number(gwanlibi[0]));
										
										total += Number(gwanlibi[0]);
									}
								}

								//월세 체크박스
								let mRentCheck = $('#mRentTotal').find('tr');
								for (let i = 0; i < mRentCheck.length; i++) {
									if (mRentCheck.eq(i).find('.check').prop(
											"checked")) {
										 let mRent = (mRentCheck.eq(i)
												.children().eq(2).text()
												.replaceAll(",", "")).split('원');
										total += Number(Number(mRent[0]));;
									}
								}
								$('#total').text(total.toString()
								  .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",")+"원");
							})
							
			//<<부트페이 결제>>		
						
			// 납부상태 변경
			function updateAjax(){
			 	
 				let listFormObj = [];
			 	let formObjArr = $(updateForm).serializeArray();
			 	formObjArr.forEach(obj => {
			 		let paymentResult = {}; 
			 		paymentResult[obj.name] = obj.value;
			 		listFormObj.push(paymentResult);
		 		});
			 	
			 	console.log(JSON.stringify(listFormObj));
			 	
				$.ajax(ctxPath + "/updateAjax", {
					type : "post",
					contentType : "application/json",
					data : JSON.stringify(listFormObj),
				})
				.done((result) => {
					alert("납부 성공");
					location.href = ctxPath + "/paymentInfo";
				})
				.fail((err) => alert("결제 오류"));
				}
					
					
			//결제 api
			$('#payBtn').on('click', requestPay)
				
			function requestPay() {
				BootPay.request({ 
					price : $('#total').text().replaceAll(",", ""),
					application_id : "66f133da3aa7c4faf96e4c06",
					name : '월세/관리비',
					pg : '',
					method : '',
					show_agree_window : 0,
					order_id : new Date().getTime(),
					account_expire_at : new Date() + 1,
					extra : {
						vbank_result : 1,
					}
				}).error(function(data) {
					//결제 진행시 에러가 발생하면 수행됩니다.
					console.log(data);
				}).cancel(function(data) {
					//결제가 취소되면 수행됩니다.
					console.log(data);
				}).close(function(data) {
					// 결제창이 닫힐때 수행됩니다. (성공,실패,취소에 상관없이 모두 수행됨)
					console.log(data);
				}).done(function(data) {
					//결제가 정상적으로 완료되면 수행됩니다
					//비즈니스 로직을 수행하기 전에 결제 유효성 검증을 하시길 추천합니다.
					console.log(data);
					updateAjax();
				});
			}
		</script>
	</div>
</body>
</html>
