<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<style>
/* .row {
	border: 1px solid white;
} */
#container {
	justify-content: center;
}

/* thead {
	background-color: lightgrey;
} */
th, td {
	text-align: center;
}

.form-check {
	justify-content: center;
}

.button {
	justify-content: center;
}
</style>
</head>
<body>
	<div layout:fragment="Main" id="container">
		<select class="form-select mb-6" aria-label="Default select example"
			id="option">
			<option selected>조회할 기간 선택(최근 3개월)</option>
		</select>


		<div>
			<div class="bg-light rounded h-100 p-4">
				<h6 class="mb-4" style="text-align: center;">납부내역</h6>
				<div class="container text-center">
					<div class="row">
						<div class="col-12 col-sm-6">월세</div>
						<div class="col-12 col-sm-6">관리비</div>
						<!-- Ajax에서 받아온 내용을 append 활용해서 데이터 출력하는 부분 -->
						<div class="col-12 col-sm-3 delete" id="rentMonth"></div>
						<div class="col-12 col-sm-3 delete" id="Rentpay"></div>
						<div class="col-12 col-sm-3 delete" id="gwanlibiMonth"></div>
						<div class="col-12 col-sm-3 delete" id="Gwanlibi"></div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2">납부 예정</th>
					</tr>
					<tr>
						<th>월세</th>
						<th>관리비</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<!-- 월세 출력 -->
						<td>
							<table>
								<tbody>
									<th:block th:each="payInF : ${payInfo}">
										<tr>

											<td>
												<div class="form-check">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault"><label
														class="form-check-label" for="flexCheckDefault"></label>
												</div>
											</td>
											<td>월세 납입예정일</td>
											<td>월세 납입예정 금액</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</td>
						<!-- 관리비 출력 -->
						<td>
							<table class="table table-bordered">
								<tbody>
									<th:block th:each="payInF : ${payInfo}">
										<tr>
											<td><div class="form-check">

													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault"><label
														class="form-check-label" for="flexCheckDefault"></label>
												</div></td>
											<td>[[${#strings.substring(payInF.paymentMonth, 0,
												11)}]]</td>
											<td>[[${#numbers.formatInteger(payInF.gaguGwanlibi, 3,
												'COMMA')}]]</td>
										</tr>
									</th:block>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			<div>
				<button id="payBtn">결제하기</button>
			</div>
		</div>
		<script type="text/javascript"
			src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js">
			let date = new Date();
			let nowMonth = dateToM(date);
			let startMonth = nowMonth - 4;
			let year = dateToYear(date)
			let yearM;
			for (let i = startMonth; i < nowMonth - 1; i++) {
				let optionDate = dateToM(new Date(year, i, 1));
				yearM = dateToYM(new Date(year, i, 1))
				//console.log(dateToM(new Date(year, i, 1)));
				$('#option').append(
						`<option value="${yearM}">` + optionDate
								+ '월 </option>');
			}

			//납부조회 날짜를 클릭했을 때 해당 월의 납부 조회기록을 받아오기 위해 Ajax 사용

			$('#option').on('change', payMonth)

			function payMonth(event) {
				let paymentMonth = event.target.value;

				$.ajax(ctxPath + "/paymentAjax", {
					type : "GET",
					//contentType : "application/json",
					data : {
						pay : paymentMonth
					},
				}).done(
						function(pay) {

							//현재 다른 결제월의 test데이터는 없는데, 다른 결제월을 선택해도 기존의 결제일에 출력된 데이터가 계속 남아있어서 작성함.
							if (pay == null || pay == '') {
								$('.delete').html('');
							} else {
								//.html로 한 이유는 기존의 값을 지우고 새로 선택한 값만 출력하기 위해서임.
								let paymentMonth = pay[0].paymentMonth; //2024-07-07 00:00:00()
								let year = paymentMonth.substring(0, 4); //2024
								let month = paymentMonth.substring(5, 7); //07
								let day = paymentMonth.substring(8, 10)//07
								let payM = `${year}/${month}/${day}`;

								$('#gwanlibiMonth').html(payM);
								$('#Gwanlibi').html(
										pay[0].gaguGwanlibi.toString().replace(
												/\B(?=(\d{3})+(?!\d))/g, ","));

							}
						})
			}

			//결제 api
/* 
			$('#payBtn').on('click', payImp)
			
			function payImp() {
				let imp = window.imp;
				imp.init('imp04648344'); //가맹점 식별코드
				IMP.request_pay({
				    pg : 'html5_inicis',
				    pay_method : 'trans',
				    merchant_uid: "order_no_0001", // 상점에서 관리하는 주문 번호를 전달
				    name : '주문명:결제테스트',
				    amount : 14000,
				    buyer_email : 'iamport@siot.do',
				    buyer_name : '구매자이름',
				    buyer_tel : '010-1234-5678',
				    buyer_addr : '서울특별시 강남구 삼성동',
				    buyer_postcode : '123-456',
				    m_redirect_url : '{모바일에서 결제 완료 후 리디렉션 될 URL}' // 예: https://www.my-service.com/payments/complete/mobile
				}, function(rsp) { // callback 로직
					
				});

			} */
		</script>
	</div>
</body>
</html>
