<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Main">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>


	<table class="table">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>상태</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="info : ${qna}">
				<tr>
					<td>[[${info.postNo}]]</td>
					<td>[[${info.title}]]</td>
					<td>[[${info.writerId}]]</td>
					<td>[[ ${#dates.format(info.regDate, 'yyyy/MM/dd')} ]]</td>
					<td>[[${info.answerState}]]</td>
				</tr>
		</tbody>
	</table>


	<div style="text-align: right">
		<button type="button"
			th:onClick="|location.href = '@{/qnaInsert}'|"
			class="btn btn-outline-success m-2">등록</button>
	</div>
	
	
	
	
	
	
	
	
	
</body>
</html>