<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>방 계약관리</title>
<style>
.offVisible {
	visibility: hidden;
}
</style>
</head>
<body>
	<div layout:fragment="Main">
		<div class="container mt-4">
		<h4 class="mb-4">방 계약관리</h4>
			<div class="row mb-3">
				<!-- 상단 버튼 -->
				<div class="col-md-6">
					<button type="button" class="btn btn-outline-primary"
						data-bs-toggle="modal" data-bs-target="#buildingModal">
						<i class="fa fa-home me-2"></i>건물 선택
					</button>
					<button type="button" class="btn btn-outline-primary"
						id="resetBuildingBtn">선택 초기화</button>
					<button type="button" class="btn btn-outline-danger"
						th:if="${buildingVO.buildingName != null}">[[${buildingVO.buildingName}]]</button>
					<!-- 건물선택 모달창 -->
					<div class="modal fade" id="buildingModal" tabindex="-1"
						aria-labelledby="buildingModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="buildingModalLabel">건물 선택</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div id="buildingList">
									<th:block
										th:replace="~{room/fragments/buildingList :: buildingListFrg}">
										</th:replace>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 건물선택 모달창 END -->
				</div>
				<!-- 상단 버튼 영역 END -->
			</div>
			<!-- 내역 모달 -->
			<div class="modal fade" id="historyModal" tabindex="-1"
				aria-labelledby="historyModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="historyModalLabel">[[${buildingVO.buildingName}]]
								계약내역</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<!-- modal body -->
						<div class="modal-body">
							<div id="roomConstracts">
								<th:block
									th:replace="~{room/fragments/constractHistory :: constractHistoryFrg}">
									</th:replace>
							</div>
						</div>
						<!-- modal body -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary"
								data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 내역 모달 -->
			<!-- 테이블 영역 -->
			<table class="table table-bordered text-center align-middle">
				<thead class="table-dark">
					<tr>
						<th rowspan="2">호실</th>
						<th>계약유형</th>
						<th>계약일</th>
						<th>월세</th>
						<th>임차인명</th>
						<th rowspan="2">계약서 파일</th>
						<th rowspan="2">내역보기</th>
					</tr>
					<tr>
						<th>보증금</th>
						<th>만료일</th>
						<th>선후불/납입일</th>
						<th>연락처</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="constract : ${constractList}"
						th:if="${constractList.size() > 0}">
						<tr>
							<td rowspan="2">[[${constract.get('ROOM_NO')}]]</td>
							<td>[[${constract.get('CONSTRACT_TYPE')}]]</td>
							<td>[[${#dates.format(constract.get('CONSTRACT_DATE'),
								'yyyy-MM-dd')}]]</td>
							<td>[[${constract.get('M_RENT')}]]</td>
							<td>[[${constract.get('IMCHAIN_NAME')}]]</td>
							<td rowspan="2">
								<!-- <button class="btn btn-outline-dark"
									th:if="${constract.get('CONSTRACT_FILE') !=null}">
									파일 보기 
								</button>  --> 
								<a
								th:if="${constract.get('CONSTRACT_FILE') !=null}"
								th:href="@{/pdfs/계약서/{fileName}(fileName=${constract.CONSTRACT_FILE})}"
								target="_blank">PDF 보기</a>
							</td>
							<td rowspan="2">
								<button class="btn btn-outline-primary historyBtn" type="button"
									th:data-roomid="${constract.get('ROOM_ID')}"
									th:data-bname="${buildingVO.buildingName}">내역 보기</button>
							</td>
						</tr>
						<tr>
							<td>[[${constract.get('DEPOSIT')}]]</td>
							<td>[[${#dates.format(constract.get('EXP_DATE'),
								'yyyy-MM-dd')}]]</td>
							<td>[[${constract.get('PAY_TYPE')}]] /
								[[${constract.get('M_RENT_DATE')}]]일</td>
							<td>[[${constract.get('IMCHAIN_PHONE')}]]</td>
						</tr>
					</th:block>
				</tbody>
			</table>
			<th:block th:unless="${constractList.size() > 0}">
				<h3 class="text-center">정보가 없습니다.</h3>
			</th:block>
			<th:block th:if="${buildingVO.buildingId == null}">
				<h3 class="text-center">건물을 선택하세요.</h3>
			</th:block>
			<!-- 페이지네이션 -->
			<nav aria-label="Page navigation" th:if="${paging.total > 0}">
				<ul class="pagination justify-content-center mt-3">
					<!-- 이전페이지 -->
					<li class="page-item"
						th:classappend="${paging.prev ? '' : 'disabled'}"><a
						class="page-link"
						th:href="@{/room/constractList(page=${paging.startPage - paging.viewPage}, buildingId=${buildingVO.buildingId})}"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<!-- 페이지번호 매기기 -->
					<li class="page-item"
						th:classappend="${pageNum == paging.page ? 'active' : ''}"
						th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}">
						<a class="page-link"
						th:href="@{/room/constractList(page=${pageNum}, buildingId=${buildingVO.buildingId})}">[[${pageNum}]]</a>
					</li>
					<!-- 다음페이지 -->
					<li class="page-item"
						th:classappend="${paging.next ? '' : 'disabled'}"><a
						class="page-link"
						th:href="@{/room/constractList(page=${paging.endPage + 1}, buildingId=${buildingVO.buildingId})}"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
		<!-- div.container END -->
		<script type="text/javascript">
		// 계약 내역보기 모달창 프래그먼트 교체
		$(".historyBtn").on("click", (e)=>{
			let roomId = $(e.target).data("roomid");
			let buildingName = $(e.target).data("bname");
			$.ajax({
				url: `${ctxPath}/room/getConstrastHistorys`,
				type: "GET",
				data: {roomId, buildingName},
				success: function(data){
					$("#roomConstracts").html(data);
					$('#historyModal').modal('show');
				},
				error: function(err){
					console.log(err);
				}
			})
		});
		// 계약 내역보기 모달창 페이징 프레그먼트 교체
		$(document).on('click', '.constractHistory a', function(e) {
		    e.preventDefault();
		    let page = $(this).data("page");
		    let roomId = $(this).data("roomid");
		    if(!page) return;	
		    $.ajax({
		        url: `${ctxPath}/room/getConstrastHistorys`,
		        type: 'GET',
		        data: { page, roomId },
		        success: function(response) {
		            // 받아온 프래그먼트를 HTML로 교체
		            $('#roomConstracts').html(response);
		        },
		        error: function(err) {
		            console.log(err);
		        }
		    });
			});
		
		// 건물목록 모달창 프래그먼트 교체
    	$(document).on('click', '.buildingPagination a', function(e) {
		    e.preventDefault();
		    let buildingPage = $(this).data("page");
		    if(!buildingPage) return;
		    $.ajax({
		        url: `${ctxPath}/room/buildingList`,
		        type: 'GET',
		        data: { buildingPage },
		        success: function(response) {
		            // 받아온 프래그먼트를 HTML로 교체
		            $('#buildingList').html(response);
		        },
		        error: function(err) {
		            console.log(err);
		        }
		    });
			});
			// 건물선택 이벤트
			function selectBuilding(target) {
				let buildingId = $(target).data("buildingid");
				location.href = `${ctxPath}/room/constractList?buildingId=${buildingId}`;
			}
			// 건물선택 초기화버튼
			let $resetBuildingBtn = $("#resetBuildingBtn");
			$resetBuildingBtn.on('click', resetBuilding);
			function resetBuilding() {
				location.href = `${ctxPath}/room/constractList`;
			}
		</script>
	</div>
	<!-- Main END -->
</body>
</html>
