<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>방 목록</title>
<style>
.offVisible {
	visibility: hidden;
}
.removeCss{
	cursor : default;
	pointer-events: none;
}
</style>
</head>
<body>
	<div layout:fragment="Main">
		<div class="container">
		<h4 class="mb-4">방 목록</h4>
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-outline-primary"
						data-bs-toggle="modal" data-bs-target="#buildingModal">
						<i class="fa fa-home me-2"></i>건물 선택
					</button>
					<button type="button" class="btn btn-outline-primary"
						id="resetBuildingBtn">선택 초기화</button>
					<button type="button" class="btn btn-outline-danger removeCss"
						th:if="${buildingVO.buildingName != null}">[[${buildingVO.buildingName}]]</button>
					<!-- 건물선택 모달창 -->
					<div class="modal fade" id="buildingModal" tabindex="-1"
						aria-labelledby="buildingModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="buildingModalLabel">건물 선택</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal"
										aria-label="Close"></button>
								</div>
								<div id="buildingList">
									<th:block
										th:replace="~{room/fragments/buildingList :: buildingListFrg}">
									</th:replace>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-bs-dismiss="modal">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!-- 건물선택 모달창 END -->
				</div>
				<div class="col-md-6">
					<!-- <div>
						납부상태: <input class="form-check-input" type="radio"
							name="paymentState" id="pay1" value="option1" checked /> <label
							class="form-check-label" for="pay1"> 전체 </label> <input
							class="form-check-input" type="radio" name="paymentState"
							id="pay2" value="option1" /> <label class="form-check-label"
							for="pay2"> 연체 </label> <input class="form-check-input"
							type="radio" name="paymentState" id="pay3" value="option1" /> <label
							class="form-check-label" for="pay3"> 완납 </label>
					</div> -->
					<div id="searchFilter" th:data-buildingid="${buildingVO.buildingId}">
						입주상태: <input class="form-check-input" type="radio" name="ipjuState" id="ipju1" value="0" th:checked="${ipjuState == 0}"/> 
							<label class="form-check-label" for="ipju1"> 전체 </label> 
							<input class="form-check-input" type="radio" name="ipjuState" id="ipju2" value="-1" th:checked="${ipjuState == -1}"/> 
							<label class="form-check-label" for="ipju2"> 공실 </label> 
							<input class="form-check-input" type="radio" name="ipjuState" id="ipju3" value="1" th:checked="${ipjuState == 1}"/> 
							<label class="form-check-label" for="ipju3"> 입주 </label>
					</div>
				</div>
			</div>
			<!-- div.roomWrap -->
			<div class="row roomWrap gx-4 justify-content-center ">
				<p>총 호수: [[${hosu.total}]] (거주: [[${hosu.ipju}]] / 공실:
					[[${hosu.total - hosu.ipju}]])</p>
				<!-- Room Card -->
				<th:block th:if="${roomList.size() > 0}">


					<div class="card border-secondary mb-4 col-3 me-4"
						th:each="room : ${roomList}">
						<div class="card-header row"
							style="font-size: 18px; font-weight: bold;">
							[[${room.buildingName}]] / 
							<p class="col m-0" style="font-size: 18px; font-weight: bold;">[[${room.constractType}]]</p>
							<div style="text-align: right;">
								<button type="button" class="btn btn-outline-success removeCss" th:if="${room.reserveCnt > 0}">입주 예정</button>
								<th:block th:if="${room.ipjuState == -1}">
								<button type="button" class="btn btn-outline-success removeCss">공실</button>
								</th:block>
								<th:block th:if="${room.ipjuState == 1}">
								<button type="button" class="btn btn-success removeCss">입주</button>
								</th:block>
								
							</div>
						</div>
						<div class="card-body text-secondary" style="font-size: 14px;">
							<!-- <p class="card-text"> -->
							<div class="row">
								<div class="col" style="font-size: 18px; font-weight: bold;">
									[[${room.roomNo}]]호 &nbsp; [[${room.imchainName}]]
									<!-- <button type="button" class="btn btn-outline-danger">연체</button> -->
								</div>
							</div>
							(보)[[${room.deposit == 0 ? '없음' : (room.deposit / 10000) +
							'만원'}]] (월) [[${room.mRent == 0 ? '없음' : (room.mRent / 10000) +
							'만원'}]]
							<div>[[${room.constractDate != null ? '계약기간: ' +
								#dates.format(room.constractDate, 'yyyy.MM.dd') + ' ~ ' +
								#dates.format(room.expDate, 'yyyy.MM.dd') : '계약 정보가 없습니다.'}]]</div>
							<div>
								<div>
									<b>비고:[[${room.memo}]]</b>
								</div>
							</div>

							<div class="row gx-2">
								<div class="col">
									<button type="button" th:data-cno="${room.constractNo}"
										th:data-bname="${room.buildingName}"
										th:data-page="${paging.page}"
										th:data-buildingid="${buildingVO.buildingId}"
										th:data-roomid="${room.roomId}"
										class="btn btn-secondary infoBtn w-100"
										data-bs-toggle="modal" data-bs-target="#contractModal">계약정보</button>
								</div>
								<div class="col">
									<button type="button" th:data-bname="${room.buildingName}"
										th:data-roomid="${room.roomId}" th:data-page="${paging.page}"
										th:data-buildingid="${buildingVO.buildingId}"
										class="btn btn-secondary bookBtn w-100"
										data-bs-toggle="modal" data-bs-target="#contractModal">입주예약</button>
								</div>
							</div>
						</div>
					</div>






					<!-- 페이지네이션 -->
					<nav aria-label="Page navigation">
						<ul class="pagination justify-content-center mt-3">
							<!-- 이전페이지 -->
							<li class="page-item"
								th:classappend="${paging.prev ? '' : 'disabled'}"><a
								class="page-link"
								th:href="@{/room/roomListBackup(page=${paging.startPage - paging.viewPage}, buildingId=${buildingVO.buildingId}, ipjuState=${ipjuState})}"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<!-- 페이지번호 매기기 -->
							<li class="page-item"
								th:classappend="${pageNum == paging.page ? 'active' : ''}"
								th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}">
								<a class="page-link"
								th:href="@{/room/roomListBackup(page=${pageNum}, buildingId=${buildingVO.buildingId}, ipjuState=${ipjuState})}">[[${pageNum}]]</a>
							</li>
							<!-- 다음페이지 -->
							<li class="page-item"
								th:classappend="${paging.next ? '' : 'disabled'}"><a
								class="page-link"
								th:href="@{/room/roomListBackup(page=${paging.endPage + 1}, buildingId=${buildingVO.buildingId}, ipjuState=${ipjuState})}"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
					<!-- 페이지네이션 END -->
				</th:block>
				<th:block th:unless="${roomList.size() > 0}">
					<h3>표시할 방이 없습니다.</h3>
				</th:block>
				<!-- Room Card End -->
			</div>
			<!-- div.roomWrap END -->
			<!-- 계약정보 모달창 들어가는 곳 -->
			<div class="modal fade" id="contractModal" tabindex="-1"
				aria-labelledby="contractModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" id="modalContent">
					<!-- 계약정보 모달 프래그먼트 삽입위치 -->
				</div>
			</div>
		</div>
		<!-- div.container END -->
		<script>
    	let $infoBtn = $(".infoBtn");
    	let $bookBtn = $(".bookBtn");
    	let $modalContent = $("#modalContent"); // 모달창 삽입 공간
    	let page;
    	let buildingId;
    	// 방의 계약정보 모달창 띄우기
    	$infoBtn.on("click", (e) => {
    		let constractNo = $(e.target).data("cno") + "";
    		let roomId = $(e.target).data("roomid") + "";
    		let buildingName = $(e.target).data("bname") + "";
    		buildingId = $(e.target).data("buildingid") == undefined ? '' : $(e.target).data("buildingid") + "";
    		page = $(e.target).data("page") + "";
    		let dataObj = {constractNo, roomId, buildingName, page, buildingId};
    		$.ajax({
    		    url: `${ctxPath}/room/getConstract`,
    		    method: 'post',
    		    contentType : 'application/json',
    		    data : JSON.stringify(dataObj),
    		    success: function (data) {
    		    	$modalContent.html(data);
    		    },
    		    error: function (err) {
    		    	console.log(err);
    		    }
    		});
    	});
    	// 방의 입주예약 모달창 띄우기
    	$bookBtn.on("click", (e)=>{
    		let roomId = $(e.target).data("roomid") + "";
    		let buildingName = $(e.target).data("bname") + "";
    		buildingId = $(e.target).data("buildingid") == undefined ? '' : $(e.target).data("buildingid") + "";
    		page = $(e.target).data("page") + "";
    		let dataObj = {roomId, buildingName, page, buildingId};
    		$.ajax({
    		    url: `${ctxPath}/room/getNextConstract`,
    		    method: 'post',
    		    contentType : 'application/json',
    		    data : JSON.stringify(dataObj),
    		    success: function (data) {
    		    	$modalContent.html(data);
    		    },
    		    error: function (err) {
    		    	console.log(err);
    		    }
    		});
    	});
    	
    	// 건물목록 모달창 프래그먼트 교체
    	$(document).on('click', '.buildingPagination a', function(e) {
		    e.preventDefault();
		    let buildingPage = $(this).data("page");
		    if(!buildingPage) return;
		    $.ajax({
		        url: `${ctxPath}/room/buildingList`,
		        type: 'GET',
		        data: { buildingPage },
		        success: function(response) {
		            // 받아온 프래그먼트를 HTML로 교체
		            $('#buildingList').html(response);
		        },
		        error: function(err) {
		            console.log(err);
		        }
		    });
		});
    	// 건물선택 이벤트
    	function selectBuilding(target){
    		let buildingId = $(target).data("buildingid");
    		location.href=`${ctxPath}/room/roomListBackup?buildingId=${buildingId}`;
    	}
    	// 건물선택 초기화버튼
    	let $resetBuildingBtn = $("#resetBuildingBtn");
    	$resetBuildingBtn.on('click', resetBuilding);
    	function resetBuilding(){
    		location.href=`${ctxPath}/room/roomListBackup`;
    	}
    	
    	// 모달창 동적 생성 -> 그룹이벤트로 이벤트 연결
    	$(document).on("click", "#saveConstractBtn", (e) => {
    	    e.preventDefault();
    	    let formData = new FormData($('#contractForm')[0]);  // FormData 생성 (파일 포함)
    	    // 계약 만료 여부 체크
    	    if (formData.get("constractState") == -1) {
    	        if (!confirm("계약만료를 진행하시겠습니까?")) {
    	            return;
    	        }
    	    }
    	    // 계약정보 추가, 수정 구분
    	    let url = !formData.get("constractNo") ? `${ctxPath}/room/insertConstract` : `${ctxPath}/room/updateConstract`;
    	    handleConstract(url, formData, page, buildingId);
    	});

    	// 계약정보 ajax 추가,수정 처리함수
    	function handleConstract(url, formData, page = 1, buildingId = "") {
    	    $.ajax({
    	        url: url,
    	        method: 'POST',
    	        data: formData,
    	        contentType: false,  // 반드시 false로 설정
    	        processData: false,  // 반드시 false로 설정
    	        success: function(response) {
    	            switch(response.retCode) {
    	                case "fail_valid":
    	                	alert("유효성 검사 오류: " + response.error);
    	                    break;
    	                case "fail_wrong_state":
    	                	alert("계약등록은 대기, 확정으로 선택해주세요.");
    	                	break;
    	                case "fail_exist_next":
    	                    alert("대기계약이 존재합니다.");
    	                    break;
    	                case "fail_exist_imchain":
    	                	alert("이미 계약된 정보가 있는 사람입니다.")
    	                	break;
    	                case "fail_exist_present":
    	                    alert("선택한 방에 진행중인 계약정보가 있습니다.");
    	                    break;
    	                case "fail_file_type":
    	                    alert("PDF 파일만 업로드 가능합니다.");
    	                    break;
    	                case "fail_file":
    	                	alert("파일 등록처리 중 오류가 발생하였습니다.");
    	                	break;
    	                case "ok":
    	                    alert("계약정보가 저장되었습니다.");
    	                    $('#contractModal').modal('hide');
    	                    location.href = `${ctxPath}/room/roomListBackup?page=${page}&buildingId=${buildingId}`;
    	                    break;
    	                default:
    	                    alert("계약 처리 중 오류가 발생했습니다.");
    	            }
    	        },
    	        error: function(err) {
    	            console.log(err);
    	            alert('계약 처리 중 오류가 발생했습니다.');
    	        }
    	    });
    	}
    	
    	// searchFilter 이벤트
    	$("div#searchFilter").on("change", "input[type='radio']", (e)=>{
    		let ipjuState = e.target.value;
    		let buildingId = $(e.target).parent().data("buildingid") || '';
    		window.location.href = `${ctxPath}/room/roomListBackup?ipjuState=${ipjuState}&buildingId=${buildingId}`
    	});
    </script>
	</div>
</body>
</html>
