<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/layouts/default_layout}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>방 목록</title>
    <style></style>
  </head>
  <body>
    <div layout:fragment="Main">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button>건물선택</button>
            <button>초기화</button>
          </div>
          <div class="col-md-6">
            <div>
              납부상태:
              <input class="form-check-input" type="radio" name="gridRadios"
								id="gridRadios1" value="option1" checked> <label
								class="form-check-label" for="gridRadios1"> 전체
							</label>
							<input class="form-check-input" type="radio" name="gridRadios"
								id="con2" value="option1"> <label
								class="form-check-label" for="con2"> 연체
							</label>
							<input class="form-check-input" type="radio" name="gridRadios"
								id="con2" value="option1"> <label
								class="form-check-label" for="con2"> 완납
							</label>
            </div>
            <div>입주상태:</div>
          </div>
        </div>
        <div class="row">
          <p>총 호수: 3(거주:1/공실2)</p>
          <div class="col-md-4 col-sm-6">
            <h1>건물명</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>2</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>3</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>4</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>5</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>6</h1>
          </div>
          <div class="col-md-4 col-sm-6">
            <h1>7</h1>
          </div>
        </div>
      </div>
      <!-- div.container END -->
    </div>
  </body>
</html>
