<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.room.mapper.ConstractMapper">
	<select id="selectConstractImchain">
		SELECT
			constract_no,
			constract_type,
			deposit,
			m_rent,
			pay_type,
			imchain_name,
			imchain_phone,
			imchain_account,
			imdaein_account,
			constract_date,
			exp_date,
			constract_state,
			m_rent_date,
			memo,
			room_id
		FROM
			constract_info
		WHERE
			imchain_phone = #{imchainId}
	</select>
	
	<!-- 계약번호 - 계약단건 조회 -->
	<select id="selectConstractInfo">
		SELECT
		    constract_no,
		    constract_type,
		    deposit,
		    m_rent,
		    pay_type,
		    imchain_name,
		    imchain_account,
		    imdaein_account,
		    constract_date,
		    exp_date,
		    constract_state,
		    constract_file,
		    m_rent_date,
		    memo,
		    room_id
		FROM constract_info
		WHERE constract_no = #{constractNo}
	</select>
</mapper>
