<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.room.mapper.ConstractMapper">
	<select id="selectConstractImchain">
		SELECT
			constract_no,
			constract_type,
			deposit,
			m_rent,
			pay_type,
			imchain_name,
			imchain_phone,
			imchain_account,
			imdaein_account,
			constract_date,
			exp_date,
			constract_state,
			m_rent_date,
			memo,
			room_id
		FROM
			constract_info
		WHERE
			imchain_phone = #{imchainId}
	</select>
	
	<!-- 계약번호 - 계약단건 조회 -->
	<select id="selectConstractInfo">
		SELECT
		    constract_no,
		    constract_type,
		    deposit,
		    m_rent,
		    pay_type,
		    imchain_name,
		    imchain_phone,
		    imchain_account,
		    imdaein_account,
		    constract_date,
		    exp_date,
		    constract_state,
		    constract_file,
		    m_rent_date,
		    memo,
		    room_id
		FROM constract_info
		WHERE constract_no = #{constractNo}
	</select>
	
	<!-- roomId 현재계약 조회 -->
	<select id="selectCurrentConstractInfoByRoomId">
		SELECT
		    constract_no,
		    constract_type,
		    deposit,
		    m_rent,
		    pay_type,
		    imchain_name,
		    imchain_phone,
		    imchain_account,
		    imdaein_account,
		    constract_date,
		    exp_date,
		    constract_state,
		    constract_file,
		    m_rent_date,
		    memo,
		    room_id
		FROM constract_info
		WHERE room_id = #{roomId} AND constract_state = 1
	</select>
	<!-- roomId 다음계약 조회 -->
	<select id="selectNextConstractInfoByRoomId">
		SELECT
		    constract_no,
		    constract_type,
		    deposit,
		    m_rent,
		    pay_type,
		    imchain_name,
		    imchain_phone,
		    imchain_account,
		    imdaein_account,
		    constract_date,
		    exp_date,
		    constract_state,
		    constract_file,
		    m_rent_date,
		    memo,
		    room_id
		FROM constract_info
		WHERE room_id = #{roomId} AND constract_state = 0
	</select>
	
	<!-- 계약단건 등록 -->
	<insert id="insertConstractInfo">
		<selectKey order="BEFORE" keyProperty="constractNo" resultType="string">
		SELECT 
				'RO' 
				|| TO_CHAR(#{constractDate}, 'yyMMdd')
				|| LPAD(constract_seq.NEXTVAL, 4, '0')
		FROM dual
		</selectKey>
		INSERT INTO constract_info (
		    constract_no,
		    constract_type,
		    deposit,
		    m_rent,
		    pay_type,
		    imchain_name,
		    imchain_phone,
		    imchain_account,
		    imdaein_account,
		    constract_date,
		    exp_date,
		    constract_state,
		    constract_file,
		    m_rent_date,
		    memo,
		    room_id
		) VALUES (
		    #{constractNo}
		    ,#{constractType}
		    ,#{deposit}
		    ,#{mRent}
		    ,#{payType}
		    ,#{imchainName}
		    ,#{imchainPhone}
		    ,#{imchainAccount}
		    ,#{imdaeinAccount}
		    ,#{constractDate}
		    ,#{expDate}
		    ,#{constractState}
		    ,#{constractFile}
		    ,#{mRentDate}
		    ,#{memo}
		    ,#{roomId}
		)
	</insert>
	
	<!-- 계약단건 수정 -->
	<update id="updateConstractInfo">
		UPDATE constract_info
    	SET
	        constract_type = #{constractType},
	        deposit = #{deposit},
	        m_rent = #{mRent},
	        pay_type = #{payType},
	        imchain_name = #{imchainName},
	        imchain_phone = #{imchainPhone},
	        imchain_account = #{imchainAccount},
	        imdaein_account = #{imdaeinAccount},
	        constract_date = #{constractDate},
	        exp_date = #{expDate},
	        constract_state = #{constractState},
	        constract_file = #{constractFile},
	        m_rent_date = #{mRentDate},
	        memo = #{memo},
	        room_id = #{roomId}
    	WHERE constract_no = #{constractNo}
	</update>
	
	<!-- 건물선택 - 방의 현재계약 목록 -->
	<select id="selectRoomConstract" resultType="map">
		SELECT *
		FROM
			(SELECT
			    ri.room_no room_no,
			    ci.constract_no constract_no,
			    ci.constract_type constract_type,
			    ci.deposit deposit,
			    ci.m_rent m_rent,
			    ci.pay_type pay_type,
			    ci.imchain_name imchain_name,
			    ci.imchain_phone imchain_phone,
			    ci.imchain_account imchain_account,
			    ci.imdaein_account imdaein_account,
			    ci.constract_date constract_date,
			    ci.exp_date exp_date,
			    ci.constract_state constract_state,
			    ci.constract_file constract_file,
			    ci.m_rent_date m_rent_date,
			    ci.memo memo,
			    ri.room_id room_id
			    ,ROW_NUMBER() OVER (ORDER BY ri.room_no ASC) AS row_num
			FROM constract_info ci RIGHT OUTER JOIN room_info ri 
			                        ON ri.room_id = ci.room_id AND ci.constract_state = 1
			WHERE ri.building_id = #{buildingId})
		WHERE row_num BETWEEN (#{paging.page} - 1) * #{paging.recordSize} + 1 AND #{paging.page} * #{paging.recordSize}
	</select>
	
	<!-- 건물선택 현재계약 목록 토탈 -->
	<select id="roomConstractTotal">
		SELECT COUNT(*)
			FROM constract_info ci RIGHT OUTER JOIN room_info ri 
			                        ON ri.room_id = ci.room_id AND ci.constract_state = 1
			WHERE ri.building_id = #{buildingId}
	</select>
	
	<!-- 임차인 중복체크 - 활성화된 계약서 중 임차인 연락처 체크 -->
	<select id="existsByPhoneActive">
	SELECT COUNT(*)
	FROM constract_info
	WHERE imchain_phone = #{imchainPhone} AND constract_state = 1
	</select>
	
	<!-- 방의 이전 계약정보 조회 -->
	<select id="selectPrevConstractByRoomId">
	SELECT *
	FROM
	    (SELECT
	        constract_no,
	        constract_type,
	        deposit,
	        m_rent,
	        pay_type,
	        imchain_name,
	        imchain_phone,
	        imchain_account,
	        imdaein_account,
	        constract_date,
	        exp_date,
	        constract_state,
	        constract_file,
	        m_rent_date,
	        memo,
	        room_id,
	        ROW_NUMBER() OVER(ORDER BY exp_date DESC) AS rn
	    FROM constract_info
	    WHERE room_id = #{roomId})
	WHERE rn = 1
	</select>
	
	<!-- 엑셀용 계약조회 -->
	<select id="selectBuildingConstractList">
	SELECT
	    (SELECT building_name FROM building_info WHERE building_id = #{buildingId}) as building_name,
	    ri.room_no room_no,
	    ci.constract_type constract_type,
	    ci.deposit deposit,
	    ci.constract_date constract_date,
	    ci.exp_date exp_date,
	    ci.m_rent m_rent,
	    ci.pay_type pay_type,
	    ci.m_rent_date m_rent_date,
	    ci.imchain_name imchain_name,
	    ci.imchain_phone imchain_phone,
	    ci.memo memo
	FROM constract_info ci RIGHT OUTER JOIN room_info ri 
	                        ON ri.room_id = ci.room_id AND ci.constract_state = 1
	WHERE ri.building_id = #{buildingId}
	ORDER BY ri.room_no
	</select>
</mapper>
