<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<th:block th:replace="~{common/configs/default_configs :: ConfigFrag}"></th:block>
</head>
<body>
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<header th:insert="~{common/fragments/sidebar :: SidebarFrag}">

			</header>
			<div class="layout-page">
				<th:block th:insert="~{common/fragments/header :: HeaderFrag}"></th:block>
					<div class="content-wrapper">
						<div class="container-xxl flex-grow-1 container-p-y">
							<div layout:fragment="Content"></div>
						</div>
						<footer th:replace="~{common/fragments/footer :: FooterFrag}"></footer>
					</div>
			</div>
		</div>
	</div>
	<th:block th:replace="~{common/fragments/script :: ScriptFrag}"></th:block>
</body>
</html>