<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>세입만 QnA</title>
</head>
<body>
	<div layout:fragment="Main" class="container">
		<div class="col-sm-12 col-xl-11">
			<div class="rounded p-4">
				<h4 class="mb-4">세입만 QnA</h4>
				<!-- 답변상태 -->
				<form id="searchFrom" class="d-flex justify-content-end mb-3">
					<select class="form-select me-2 w-25" id="option" name="answerState">
						<option value="-1" th:selected="${search.answerState == -1 or search.answerState == null}">답변상태</option>
						<option value="0" th:selected="${search.answerState == 0}">답변대기</option>
						<option value="1" th:selected="${search.answerState == 1}">답변완료</option>
					</select> 
					<input type="text" placeholder="제목 or 내용 검색" th:field="${search.keyword}" class="form-control me-2 w-50">
					<input type="text" th:field="${search.page}" hidden="true">
					<button class="btn btn-outline-success">Search</button>
				</form>
				<!-- 목록 -->
				<table class="table table-hover" style="text-align: center">
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">등록일</th>
							<th scope="col">답변상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="qna : ${qnaList}">
							<th>[[${qna.postNo}]]</th>
							<td class="text-truncate" style="max-width: 150px;">[[${qna.title}]]</td>
							<td>[[${qna.writer}]]</td>
							<td>[[${#dates.format(qna.regDate, 'yyyy-MM-dd')}]]</td>
							<td>[[${qna.answerState == 0 ? '답변대기' : '답변완료'}]]</td>
						</tr>
					</tbody>
				</table>
				<p class="text-center" th:unless="${paging.total > 0}">데이터가 없습니다.</p>
				
				<div style="text-align: right">
					<a th:href="@{/support/qnaInsert}"><button type="button" class="btn btn-outline-success m-2">등록</button></a>
				</div>
				<!-- 페이지네이션 -->
				<nav aria-label="Page navigation" >
					<ul class="pagination justify-content-center mt-3">
						<!-- 이전페이지 -->
						<li class="page-item"
							th:classappend="${paging.prev ? '' : 'disabled'}"><a
							class="page-link"
							th:href="@{/support/qnaList(page=${paging.startPage - paging.viewPage}, keyword=${search.keyword}, answerState=${search.answerState})}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<!-- 페이지번호 매기기 -->
						<li class="page-item"
							th:classappend="${pageNum == paging.page ? 'active' : ''}"
							th:each="pageNum : ${#numbers.sequence(paging.startPage, paging.endPage)}">
							<a class="page-link"
							th:href="@{/support/qnaList(page=${pageNum}, keyword=${search.keyword}, answerState=${search.answerState})}">[[${pageNum}]]</a>
						</li>
						<!-- 다음페이지 -->
						<li class="page-item"
							th:classappend="${paging.next ? '' : 'disabled'}"><a
							class="page-link"
							th:href="@{/support/qnaList(page=${paging.endPage + 1}, keyword=${search.keyword}, answerState=${search.answerState})}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
				<!-- 페이지네이션 END -->
			</div>
		</div>
		
		<script>
		// 단건조회 이벤트
		$("tbody > tr").on("click", (e) =>{
			let postNO = $(e.currentTarget).find("th").text();
			location.href = `${ctxPath}/support/qnaDetail?postNo=${postNO}`;
		});
		</script>
	</div>
</body>
</html>