<!-- Modal -->

		<div class="modal-content" xmlns:th="http://www.thymeleaf.org" th:fragment="modalContent">
			<div class="modal-header">
				<h5 class="modal-title" id="contractModalLabel">계약 정보: [[${buildingName}]] [[${roomVo.roomNo}]]호</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body" th:object="${constractVo}">
				<form id="contractForm">
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">계약유형</label>
						<div class="col-sm-4">
							<select class="form-select" th:field="*{constractType}">
							    <option value="'월세'" th:selected="*{constractType == '월세'}">월세</option>
							    <option value="'전세'" th:selected="*{constractType == '전세'}">전세</option>
							</select>
						</div>
						<label class="col-sm-2 col-form-label">보증금</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{deposit}">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">선후불</label>
						<div class="col-sm-4">
							<select class="form-select">
								<option value="선불" th:selected="*{payType == '선불'}">선불</option>
								<option value="후불" th:selected="*{payType == '후불'}">후불</option>
							</select>
						</div>
						<label class="col-sm-2 col-form-label">월세</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mRent}">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">임차인명</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{imchainName}">
						</div>
						<label class="col-sm-2 col-form-label">연락처</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{imchainPhone}">
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">계약일</label>
						<div class="col-sm-4">
							<input type="date" class="form-control" th:field="*{constractDate}">
						</div>
						<label class="col-sm-2 col-form-label">만료일</label>
						<div class="col-sm-4">
							<input type="date" class="form-control" th:field="*{expDate}">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-sm-3">만료일 계산기:</div>
						<div class="col-sm-6 text-center">
							<button type="button" class="btn btn-outline-secondary">12개월</button>
							<button type="button" class="btn btn-outline-secondary">24개월</button>
						</div>
						<div class="col-sm-3"></div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">납부일</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" placeholder="1일" th:field="*{mRentDate}">
						</div>
						<label class="col-sm-2 col-form-label">입주 상태</label>
						<div class="col-sm-4">
							<select class="form-select" name="ipjuState">
								<option value="-1" th:selected="${roomVo.ipjuState == -1}">공실</option>
								<option value="1" th:selected="${roomVo.ipjuState == 1}">입주</option>
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">임대인 계좌</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{imdaeinAccount}">
						</div>
						<label class="col-sm-2 col-form-label">임차인 계좌</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{imchainAccount}">
						</div>
					</div>
					<!-- 파일 업로드 -->
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">파일</label>
						<div class="col-sm-10">
							<input type="file" class="form-control">
						</div>
					</div>
					<!-- 비고 -->
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label">비고</label>
						<div class="col-sm-10">
							<textarea class="form-control" th:field="*{memo}"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" th:if="${constractVo.constractNo == null}">이전 정보 불러오기</button>
				<button type="button" class="btn btn-primary">저장</button>
			</div>
		</div>
<!-- Modal END -->
