<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.gwanlibi.mapper.GwanlibiMsgMapper">

	<!-- 건물별 임차인 연락처 조회 (단체) -->
	<select id="selectImcahinPhoneNumber" resultType="com.saeipman.app.gwanlibi.service.GwanlibiMsgVO">
		SELECT   bi.building_id
		       , ri.ipju_state
		       , ci.imchain_phone
		FROM     building_info bi JOIN room_info ri
		         				  ON   (bi.building_id = ri.building_id AND ri.building_id = #{buildingId} AND ri.ipju_state = 1)
								  JOIN constract_info ci
								  ON   (ci.room_id = ri.room_id)
	</select>
	
	<!-- 현재 로그인한 임차인 연락처 조회 -->
	<select id="selectImdaeinPhoneNumber">
		SELECT phone
		FROM   imdaein
		WHERE  imdaein_id = #{imdaeinId}
	</select>
	
	<!-- 관리비 연체자 조회 -->
	<select id="selectGwanlibiOverdueImchainList">
		SELECT   bi.building_id
		       , bi.building_name
		       , ri.ipju_state
		       , ci.imchain_phone
		       , gh.payment_yn       
		FROM     building_info bi JOIN room_info ri
		                          ON   (bi.building_id = ri.building_id AND ri.building_id = #{buildingId} AND ri.ipju_state = 1)
		                          JOIN constract_info ci
		                          ON   (ci.room_id = ri.room_id)
		                          JOIN gagu_gwanlibi_history gh
		                          ON   (ri.room_id = gh.room_id AND gh.payment_yn = -1)
	</select>
</mapper>