<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.gwanlibi.mapper.GwanlibiMapper">
	<select id="selectGwanlibiDetailsBill">
		SELECT   bi.building_name,
		         bgi.gwanlibi_name,
		         d.gwanlibi_item_money
		FROM     building_info bi JOIN building_gwanlibi_item bgi
		                          ON   bi.building_id = bgi.building_id
		                          LEFT OUTER JOIN month_gwanlibi m
		                          ON   m.building_id = bi.building_id
		                          LEFT OUTER JOIN gwanlibi_details d
		                          ON   bgi.gwanlibi_item_no = d.gwanlibi_item_no AND d.month_gwanlibi_no = m.month_gwanlibi_no
		WHERE    bi.building_id = #{buildingId}
		AND      TO_CHAR(m.payment_month, 'yyMM') = TO_CHAR(#{paymentMonth}, 'yyMM')
		ORDER BY bi.building_id desc
	</select>
</mapper>