<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.gwanlibi.mapper.GwanlibiMapper">
	
	<!-- 임대인의 건물별 전원, 금월 관리비 목록 -->
	<!-- <select id="selectMonthGwanlibiByBuildingList" resultType="GwanlibiVO">
			
		SELECT   b.building_id,
		         b.building_name,
		         p.total_money previous_month,
		         t.total_money this_month,
		         t.payment_month
		FROM     building_info b LEFT OUTER JOIN month_gwanlibi t
		                         ON   (b.building_id = t.building_id AND TO_CHAR(t.payment_month, 'yymm') = TO_CHAR(sysdate, 'yymm'))
		                         LEFT OUTER JOIN month_gwanlibi p
		                         ON   (b.building_id = p.building_id AND TO_CHAR(p.payment_month, 'yymm') = TO_CHAR(sysdate, 'yymm') -1)
		WHERE    b.imdaein_id = #{imdaeinId}
		ORDER BY b.building_name
		
	</select>-->
	<!-- 임대인의 건물별 전원, 금월 관리비 목록, 페이징 처리-->
	<select id="selectMonthGwanlibiByBuildingList">
		SELECT b.*
		FROM   ( SELECT ROWNUM rn,
		                a.*
		         FROM  ( SELECT   b.building_id,
		                          b.building_name,
		                          p.total_money previous_month,
		                          t.total_money this_month,
		                          t.payment_month
		                 FROM     building_info b LEFT OUTER JOIN month_gwanlibi t
		                                          ON   b.building_id = t.building_id AND TO_CHAR(t.payment_month, 'yymm') = TO_CHAR(sysdate, 'yymm')
		                                          LEFT OUTER JOIN month_gwanlibi p
		                                          ON   b.building_id = p.building_id AND TO_CHAR(p.payment_month, 'yymm') = TO_CHAR(sysdate, 'yymm') -1
		                 WHERE    b.imdaein_id = #{imdaeinId}
		                 ORDER BY b.building_name ) a
		         WHERE   ROWNUM <![CDATA[<=]]> #{dto.pageNum} * #{dto.amount} ) b
		WHERE    rn > (#{dto.pageNum} - 1) * #{dto.amount}
	
	</select>
	
	<!-- 페이징 -->
	<select id="getBuildingTotalCount">

		SELECT COUNT(*)
		FROM   building_info
		WHERE  imdaein_id = #{imdaeinId}

	</select>
	
	<!-- 각 건물의 관리비 상세 내역 and 각 건물의 관리비 상세 내역 for 등록/수정 페이지 -->
	<select id="selectGwanlibiDetailsBill" resultType="GwanlibiVO">
	
		SELECT   bi.building_id,
		         bi.building_name,
		         bgi.gwanlibi_name,
		         d.gwanlibi_item_money,
		         m.payment_month,         
		         (d.gwanlibi_item_money/bi.total_gagu) gwanlibi_by_gagu
		FROM     building_info bi  LEFT OUTER JOIN building_gwanlibi_item bgi
		                           ON   bi.building_id = bgi.building_id
		                           LEFT OUTER JOIN month_gwanlibi m
		                           ON   (bgi.building_id = m.building_id AND TO_CHAR(m.payment_month, 'yyMM') = TO_CHAR(#{paymentMonth}, 'yyMM'))
		                           LEFT OUTER JOIN gwanlibi_details d
		                           ON   (bgi.gwanlibi_item_no = d.gwanlibi_item_no AND d.month_gwanlibi_no = m.month_gwanlibi_no)
		WHERE    bi.building_id = #{buildingId}
		ORDER BY bgi.gwanlibi_name
		
	</select>
	
	<!-- 관리비 항목 설정 화면 : 건물 관리비 항목 출력 -->	
	<select id="selectItemList" >		
		SELECT gwanlibi_item_no,
		       building_id,
		       gwanlibi_name,
		       variable_yn
		FROM   building_gwanlibi_item
		WHERE  building_id = #{buildingId}
	</select>
	
	
	<!-- 관리비 등록 -->
	<insert id="insertMaintenanceCost">
	
		<selectKey keyProperty="monthGwanlibiNo"
				   resultType="string"
				   order="BEFORE">
				   SELECT 'MF' || TO_CHAR(#{paymentMonth, 'yyyyMM') || LPAD(COUNT(*), 4, 0) FROM month_gwanlibi
		</selectKey>
		
		INSERT INTO month_gwanlibi
		    (month_gwanlibi_no
		   , building_id
		   , payment_month
		   , total_money
		   , gagu_gwanlibi)
		VALUES
		    (#{monthGwanlibiNo}
		   , #{buildingId}
		   , #{paymentMonth}
		   , #{totalMoney}
		   , #{gaguGwanlibi})
		   
	</insert>
	
	

</mapper>