<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saeipman.app.gwanlibi.mapper.GwanlibiPaymentMapper">

	<!-- 호실별 관리비 납부 상태 조회 -->
	<select id="selectGwanlibiPaymentStateList" resultType="com.saeipman.app.gwanlibi.service.GwanlibiPaymentVO" parameterType="String">
		SELECT r.building_id,
		       r.room_no,
		       r.ipju_state,
		       g.payment_yn,
		       m.month_gwanlibi_no,
		       m.payment_due_date
		FROM   room_info r JOIN gagu_gwanlibi_history g
		                   ON (r.room_id = g.room_id)
		                   JOIN month_gwanlibi m
		                   ON (m.month_gwanlibi_no = g.month_gwanlibi_no)
		WHERE  r.building_id = #{buildingId}		
		<choose>
			<when test="paymentMonth == null">
				AND    TO_CHAR(m.payment_month, 'yyyyMM') =  TO_CHAR(sysdate, 'yyyyMM')
			</when>
			<otherwise>
				AND    TO_CHAR(m.payment_month, 'yyyyMM') =  TO_CHAR(#{paymentMonth}, 'yyyyMM')
			</otherwise>		
		</choose>
		ORDER BY r.room_no		
	</select>	

</mapper>