<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">

<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.buildingBox {
	padding-bottom: 60px;
	padding-top: 0px;
}

.box-part {
	background: #FFF;
	border-radius: 0;
	padding: 60px 10px;
	margin: 30px 0px;
}

.text {
	margin: 20px 0px;
}

.fa {
	color: #4183D7;
}

.page-link:hover {
	background-color: skyblue;
	color: white;
}

.page-link:active {
	background-color: skyblue;
	color: white;
}

.btn:hover {
	background: #009CFF;
	color: white;
}
</style>
</head>

<body>
	<div class="buildingBox row roomWrap gx-0 justify-content-center	" layout:fragment="Main">
		<!-- <div class="row"> -->
		<!-- Thymeleaf each -->
		
		<th:block th:each="building : ${list}">
			<div class="card border-secondary col mb-4 col-3 me-4">
		
				<div class="card-header" style="font-size: 18px; font-weight: bold;"><i class="fa-sharp-duotone fa-solid fa-building"></i>[[${building.buildingName}]]</div>
				<div class="card-body text-secondary" style="font-size: 14px;">
					<p class="card-text"><i class="fa-sharp fa-solid fa-location-dot"></i>[[ ${building.doroAddr } ]]</p>
					<p class="card-text"><i class="fa-duotone fa-solid fa-file-invoice-dollar"></i>전월 관리비 [[${ building.previousMonth }]]원</p>
					<p class="card-text"><i class="fa-duotone fa-solid fa-receipt"></i>금월 관리비 [[ ${building.thisMonth } ]]원</p>
					<div style="text-align: center;">
						<button type="button" class="btn btn-outline-primary m-1"
							th:onclick="|location.href='@{/gwanlibiItemList(buildingId=${building.buildingId})}'|">관리비
							항목 설정</button>
						<button type="button" class="btn btn-outline-primary m-1"
							th:onclick="|location.href='@{/gwanlibiDetailsBillList(buildingId=${building.buildingId})}'|">관리비
							상세 내역</button>
					</div>
				
				</div>
			</div>
		</th:block>

		<!-- pagination -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center" style="margin: 0;">
				<!-- 맨 첫 페이지로 이동 : 시작 페이지(startPage)가 1보다 크면 이전 버튼 출력 -->
				<th:block th:if="${page.startPage > 1}">
					<li class="page-item"><a class="page-link"
						th:href="@{/buildingGwanlibiList?pageNum=1}" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
					</a></li>
				</th:block>

				<!-- 이전 페이지 버튼 (Previous) -->
				<th:block th:if="${page.prev}">
					<li class="page-item"><a class="page-link"
						th:href="@{/buildingGwanlibiList?pageNum={page}(page = ${page.startPage - 1})}"
						aria-label="Previous"> <span aria-hidden="false">&lt;</span>
					</a></li>
				</th:block>

				<!-- 페이지 버튼 생성 -->
				<th:block
					th:each="pageButton : ${#numbers.sequence(page.startPage, page.endPage)}">
					<li class="page-item"
						th:with="start=${page.startPage}, end=${page.endPage}"
						th:classappend="${pageButton == page.pageNum ? 'active' : ''}">
						<a class="page-link"
						th:href="@{/buildingGwanlibiList?pageNum={page} (page=${pageButton})}"
						th:text=${pageButton}></a>
					</li>
				</th:block>

				<!-- 다음 페이지 버튼 (Next) -->
				<li class="page-item" th:if="${page.next}"><a class="page-link"
					th:href="@{/buildingGwanlibiList?pageNum={page} (page = ${page.endPage +1})}"
					aria-label="Next"> <span aria-hidden="true">&gt;</span>
				</a></li>

				<!-- 끝 페이지(endPage)-->
				<th:block th:if="${page.endPage < page.realEnd}">
					<li class="page-item"><a class="page-link"
						th:href="@{/buildingGwanlibiList?pageNum={page}(page = ${page.realEnd})}"
						aria-label="Previous"> <span aria-hidden="false">&raquo;</span>
					</a></li>
				</th:block>
			</ul>
		</nav>
		<script>
			/*  			$('.page-item').on('click', function() {
			 console.log(this)
			 $('.page-link').css('background', 'blue');
			
			 }) */
		</script>
	</div>
</body>

</html>