<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}" >

<head>
	<meta charset="UTF-8">

	<style>
		.table {
			margin-left: auto;
			margin-right: auto;
		}

		.table td,
		.table th {
			text-align: center;
			border-collapse: collapse;
			border: 0px solid black;
			color: black;
		}

		.insertUpdateBtn {
			margin: auto;
			display: block;
			background: #6CBEC7;
			color: rgb(56, 53, 53);
		}

		#bName {
			float: left;
			color: #323f5d;
			font-size: 20px;
			font-weight: bold;
		}
	</style>

</head>

<body>
<div layout:fragment="Main">
	<div>
		<br>
		<br>

		<!-- 건물명 -->
		<p id="bName"></p>

		<!-- Toast UI - Date Picker -->
		<div class="inputDiv" style="position: relative; z-index: 2; float: right;">
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input type="text" id="datepicker-input-ko" aria-label="Year-Month">
				<span class="tui-ico-date"></span>
			</div>
			<div class="datepicker-cell" id="datepicker-month-ko" style="margin-top: -1px;"></div>
		</div>

		<br>
		<br>

		<!-- Toast UI - Grid -->
		<div id="grid" style="position: relative; z-index: 1;"></div>

		<hr style="color: black">
		<table class="table" style="width: 100%;">
			<tbody>
				<tr>
					<th style="width: 33.33%; color: #385d61;">TOTAL</th>
					<td id="totalGwanlibi" style="width: 33.33%;"></td>
					<td id="totalGwanlibiByGagu" style="width: 33.33%;"></td>
				</tr>
			</tbody>
		</table>
		<hr style="color: black">

		<!-- todo 관리비아이디 구하기. script에서 클릭 이벤트 하던지 -->
		<button class="btn btn-light insertUpdateBtn">관리비 등록 / 수정</button>

		<br>
	</div>

	<script th:inline="javascript">
		// 관리비 등록/수정 버튼 숨기기 - jQuery
		$('.insertUpdateBtn').hide();

		// JavaScript에서 Thymeleaf 변수 사용하기 //
		/* 1. <script th:inline="javascript">
		   2. Thymeleaf 변수 사용 */
		let detailsList = [[${ detailsList }]];
		let payDate = detailsList[0].paymentMonth;
		console.log(detailsList);

		// 해당 건물의 관리 비용 총합계 - number format (, 원)
		function total() {
			let totalGwanlibi = 0;
			for (i in detailsList) {
				totalGwanlibi += detailsList[i].gwanlibiItemMoney;
			}
			//console.log(tatalGwanlibi);
			$('#totalGwanlibi').text(totalGwanlibi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' 원');


			// 가구별 관리비 총합계
			let totalGwanlibiByGagu = 0;
			for (i in detailsList) {
				totalGwanlibiByGagu += Math.floor(detailsList[i].gwanlibiByGagu);
			}
			//console.log(tatalGwanlibiByGabu);
			$('#totalGwanlibiByGagu').text(totalGwanlibiByGagu.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' 원');
		}


		// 건물명 출력
		$('#bName').text(detailsList[0].buildingName);


		// todo
		$('.insertUpdateBtn').click(function() {
			const offset = 1000 * 60 * 60 * 9;
			const koreaNow = new Date(new Date(detailsList[0].paymentMonth).getTime() + offset);
			const splitDate = koreaNow.toISOString().split('T')[0].split('-');
			let resultDate = splitDate[0] + '-' + splitDate[1];
			console.log('===========================================');
			console.log(resultDate);
			console.log('===========================================');
			//location.href(`/gwanlibiChargeInsertUpdatePage?buildingId=${detailsList[0].buildingId}&paymentMonth=${detailsList[0].paymentMonth}`);
			$(location).attr('href', `/gwanlibiChargeInsertUpdatePage?buildingId=${detailsList[0].buildingId}&paymentMonth=${resultDate}`);
		})


		// TOAST UI //
		// async - await
		$(document).ready(() => {
			gridLoad();
			dateLoad();
			total();
		});


		// Toast UI - Date Picker //
		// # reference : https://nhn.github.io/tui.date-picker/latest/tutorial-example05-picking-month
		// # reference : https://nhn.github.io/tui.date-picker/latest/DatePicker#event-change
		let dateLoad = () => {
			let calMonthKo = new tui.DatePicker('#datepicker-month-ko', {
				date: new Date(),
				language: 'ko',
				type: 'month',
				input: {
					element: '#datepicker-input-ko',
					format: 'yyyy년 M월'
					//format: 'yyyy-MM'
				},
			});

			// get date value
			calMonthKo.on('change', () => {
				//console.log(calMonthKo);
				let paymentMonth = calMonthKo.getDate().getFullYear() + '-' + `${calMonthKo.getDate().getMonth() + 1}`.padStart(2, '0');
				let buildingId = [[${ buildingId }]];
				//
				$.ajax({
					url: `/${ctxPath}/detailsBillList`,
					method: 'post',
					data: { buildingId, paymentMonth },
					success: function(result) {
						$('#grid').html('');
						detailsList = result.list;
						for (i in detailsList) {
							console.log(detailsList[i])
						}
						gridLoad();
						total();
					},
					fail: function (err) {
						console.log(err);
					}
				});

				// 등록/수정 버튼 출력 여부 설정 : 전월에만 보이기
				let now = new Date();
				let previousYearMonth = now.getFullYear() + '-' + (now.getMonth()).toString().padStart(2, 0);
				if (paymentMonth == previousYearMonth) {
					$('.insertUpdateBtn').css('display', 'block');
				} else {
					$('.insertUpdateBtn').css('display', 'none');
				}
			});
		}



		// Toast UI - Grid //
		// # reference : https://adjh54.tistory.com/95
		// # reference : https://park-duck.tistory.com/entry/javascript-1-Toast-UI-Grid-%EA%B8%B0%EC%B4%88API-%EC%82%AC%EC%9A%A9%EB%B2%95
		// 01. Grid 생성.
		// return void
		const gridLoad = () => {
			const Grid = tui.Grid;
			// 02. Grid theme 설정. (clean, stripe, default)
			Grid.applyTheme('stripe');

			// 03. Toast UI Grid 구성.
			const grid = new Grid({
				// ================================== 공통 옵션 적용 ================================== //
				el: document.getElementById('grid'), // 필수 : Container element
				data: detailsList,
				scrollX: false,
				scrollY: false,
				// ================================== 컬럼 옵션 적용 ================================== //
				columns: [
					// [Column-1] 관리비 항목 명
					{
						header: '관리비 항목 명',           // [필수] 컬럼 이름
						name: 'gwanlibiName',           // [필수] 컬럼 매핑 이름 값
						resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
						align: 'center'
					},
					// [Column-2] 관리 비용
					{
						header: '관리 비용',
						name: 'strGwanlibiItemMoney',
						resizable: true,
						align: 'center'
					},
					// [Column-3] 가구별 관리비
					{
						header: '가구별 관리비',
						name: 'strGwanlibiByGagu',
						resizable: true,
						align: 'center'
					}
				]
			});
		}

	</script>
</div>
</body>

</html>