<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}" layout:fragment="Main">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<div class="container">
		<br>
		<br>

		<!-- 건물명 -->
		<div id="bName" style="float: left;"></div>

		<!-- Toast UI - Date Picker -->
		<div class="inputDiv" style="position: relative; z-index: 2; float: right;">
			<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
				<input type="text" id="datepicker-input-ko" aria-label="Year-Month">
				<span class="tui-ico-date"></span>
			</div>
			<div class="datepicker-cell" id="datepicker-month-ko" style="margin-top: -1px;"></div>
		</div>

		<br>
		<br>

		<!-- Toast UI - Grid -->
		<div id="grid" style="position: relative; z-index: 1;"></div>
	</div>

	<script th:inline="javascript">

		// JavaScript에서 Thymeleaf 변수 사용하기 //
		/* 1. <script th:inline="javascript">
		   2. Thymeleaf 변수 사용 */
		let detailsList = [[${ detailsList }]];
		//console.log(detailsList);

		let dateYM;


		// 건물명 출력
		$('#bName').text(detailsList[0].buildingName);


		// TOAST UI //
		// async - await
		$(document).ready(async () => {
			await gridLoad();
			await dateLoad();
			// 선택된 년월의 관리비 내역 출력.
		});


		// Toast UI - Date Picker //
		// # reference : https://nhn.github.io/tui.date-picker/latest/tutorial-example05-picking-month
		// # reference : https://nhn.github.io/tui.date-picker/latest/DatePicker#event-change
		let dateLoad = () => {
			let calMonthKo = new tui.DatePicker('#datepicker-month-ko', {
				date: new Date(),
				language: 'ko',
				type: 'month',
				input: {
					element: '#datepicker-input-ko',
					format: 'yyyy년 M월'
					//format: 'yyyy-MM'
				},
			});

			// get date value
			calMonthKo.on('change', () => {
				console.log(calMonthKo);
				console.log(calMonthKo.getDate().getFullYear() + "-" + `${calMonthKo.getDate().getMonth() + 1}`.padStart(2, "0"));
				dateYM = calMonthKo.getDate().getFullYear() + "-" + `${calMonthKo.getDate().getMonth() + 1}`.padStart(2, "0");
			});
		}

		/* $.ajax({
			url: '//',
			method: 'post',
			data: dateYM,
		}) */

		// Toast UI - Grid //
		// # reference : https://adjh54.tistory.com/95
		// # reference : https://park-duck.tistory.com/entry/javascript-1-Toast-UI-Grid-%EA%B8%B0%EC%B4%88API-%EC%82%AC%EC%9A%A9%EB%B2%95
		// 01. Grid 생성.
		// return void
		const gridLoad = () => {
			const Grid = tui.Grid;

			// 02. Grid theme 설정. (clean, stripe, default)
			Grid.applyTheme('stripe');

			// 03. Toast UI Grid 구성.
			const grid = new Grid({
				// ================================== 공통 옵션 적용 ================================== //
				el: document.getElementById('grid'), // 필수 : Container element
				data: detailsList,
				scrollX: false,
				scrollY: false,
				// ================================== 컬럼 옵션 적용 ================================== //
				columns: [
					// [Column-1] 관리비 항목 명
					{
						header: '관리비 항목 명',           // [필수] 컬럼 이름
						name: 'gwanlibiName',           // [필수] 컬럼 매핑 이름 값
						resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
						align: 'center'
					},
					// [Column-2] 관리 비용
					{
						header: '관리 비용',
						name: 'gwanlibiItemMoney',
						resizable: true,
						align: 'center',
						editor: 'text'                  // [선택] 수정 옵션
					},
					// [Column-3] 가구별 관리비
					{
						header: '가구별 관리비',
						name: '-',
						resizable: true,
						align: 'center'
					}
				]
			});
		}

	</script>

</body>

</html>