<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="Main">

<head>
	<meta charset="UTF-8">

	<style>
		#bName {
			float: left;
			color: #323f5d;
			font-size: 20px;
			font-weight: bold;
		}
		
		.table {
			margin-left: auto;
			margin-right: auto;
		}

		.table td, .table th {
			text-align: center;
			border-collapse: collapse;
			border: 0px solid black;
			color: black;
		}
		
		.btnDiv {
			text-align: center;
		}
				
		.insertBtn, .updateBtn {
			display: inline-block;
			background: #6CBEC7;
			color: rgb(56, 53, 53);
		}

		
	</style>

</head>

<body>
	<div>
		<br>
		<br>

		<!-- 건물명 -->
		<p id="bName"></p>

		<br>
		<br>

		<!-- Toast UI - Grid -->
		<div id="grid" style="position: relative; z-index: 1;"></div>

		<hr style="color: black">
		<table class="table" style="width: 100%;">
			<tbody>
				<tr>
					<th style="width: 33.33%; color: #385d61;">TOTAL</th>
					<td id="tatalGwanlibi" style="width: 33.33%;"></td>
					<td id="tatalGwanlibiByGabu" style="width: 33.33%;"></td>
				</tr>
			</tbody>
		</table>
		<hr style="color: black">
		<div class="btnDiv">
			<button class="btn btn-light insertBtn" th:onclick="|location.href='#'|">등록</button>
			<button class="btn btn-light updateBtn" th:onclick="|location.href='#'|">수정</button>
		</div>
		<br>
	</div>

	<script th:inline="javascript">

		// JavaScript에서 Thymeleaf 변수 사용하기 //
		/* 1. <script th:inline="javascript">
		   2. Thymeleaf 변수 사용 */
		let list = [[${ list }]];
		console.log(list)

		// 해당 건물의 관리 비용 총합계
		function total() {
			let tatalGwanlibi = 0;
			for (i in list) {
				tatalGwanlibi += list[i].gwanlibiItemMoney;
			}
			//console.log(tatalGwanlibi);
			$('#tatalGwanlibi').text(tatalGwanlibi.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' 원');


			// 가구별 관리비 총합계
			let tatalGwanlibiByGabu = 0;
			for (i in list) {
				tatalGwanlibiByGabu += Math.floor(list[i].gwanlibiByGagu);
			}
			//console.log(tatalGwanlibiByGabu);
			$('#tatalGwanlibiByGabu').text(tatalGwanlibiByGabu.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + ' 원');
		}


		// 건물명 출력
		$('#bName').text(list[0].buildingName);

		// TOAST UI //
		// async - await
		$(document).ready(() => {
			gridLoad();
			total();
		});

		
		// Toast UI - Grid //
		// # reference : https://adjh54.tistory.com/95
		// # reference : https://park-duck.tistory.com/entry/javascript-1-Toast-UI-Grid-%EA%B8%B0%EC%B4%88API-%EC%82%AC%EC%9A%A9%EB%B2%95
		// 01. Grid 생성.
		// return void
		const gridLoad = () => {
			const Grid = tui.Grid;
			// 02. Grid theme 설정. (clean, stripe, default)
			Grid.applyTheme('stripe');

			// 03. Toast UI Grid 구성.
			const grid = new Grid({
				// ================================== 공통 옵션 적용 ================================== //
				el: document.getElementById('grid'), // 필수 : Container element
				data: list,
				scrollX: false,
				scrollY: false,
				// ================================== 컬럼 옵션 적용 ================================== //
				columns: [
					// [Column-1] 관리비 항목 명
					{
						header: '관리비 항목 명',           // [필수] 컬럼 이름
						name: 'gwanlibiName',           // [필수] 컬럼 매핑 이름 값
						resizable: true,                // [선택] 컬럼의 리사이즈 여부 옵션
						align: 'center'
					},
					// [Column-2] 관리 비용
					{
						header: '관리 비용',
						name: 'strGwanlibiItemMoney',
						resizable: true,
						align: 'center',
						editor: 'text'						
					},
					// [Column-3] 가구별 관리비
					{
						header: '가구별 관리비',
						name: 'strGwanlibiByGagu',
						resizable: true,
						align: 'center'
					}
				]
			});
		}

	</script>

</body>

</html>