<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				layout:decorate="~{common/layouts/default_layout}">

<head>
	<meta charset="UTF-8">
	<style>
		#bName {
			float: left;
			color: #000000;
			font-size: 20px;
			font-weight: bold;
			font-family: monospace;
		}

		.btnDiv {
			text-align: center;
		}

		.saveBtn {
			display: inline-block;
		}
		
		
	</style>
</head>

<body>
	<div layout:fragment="Main" style="width: 95%;">

		<div>
			<br>
			<br>

			<!-- 건물명 -->
			<p id="bName" ></p>

			
			<!-- Toast UI - Date Picker -->
			<div class="inputDiv" style="position: relative; z-index: 2; float: right;">
				<div class="tui-datepicker-input tui-datetime-input tui-has-focus" style="width: 275px;">
					<input type="text" id="datepicker-input-ko" aria-label="Year-Month">
					<span class="tui-ico-date"></span>
				</div>
				<div class="datepicker-cell" id="datepicker-month-ko" style="margin-top: -1px;"></div>
			</div>
			<p style="font-family: monospace; float: right; margin: 0; margin-top: 5px;">관리비 <b>납부일</b>을 선택하세요.&nbsp;</p>

			<br> <br>
			
			<!-- Toast UI - Grid -->
			<div id="grid" style="position: relative; z-index: 1;"></div>

			<br>

			<div class="btnDiv">
				<button class="btn btn-outline-primary saveBtn">저장</button>
			</div>
			<br>
			
		</div>

		<script th:inline="javascript">

			// JavaScript에서 Thymeleaf 변수 사용하기 //
			/* 1. <script th:inline="javascript">
			   2. Thymeleaf 변수 사용 */
			// 관리비 항목 목록.
			let gwanlibiItemList = /*[[${ gwanlibiItemList }]]*/'기본값';

			// 건물 정보.
			let buildingInfo = /*[[${buildingInfo}]]*/'기본값';
			let buildingId = buildingInfo.buildingId;
			
			let paymentDate = '';

			
			// 건물 이름 출력.
			$('#bName').text(buildingInfo.buildingName);

			// TOAST UI //
			// async - await
			let grid;
			let toastDate;
			$(document).ready(async() => {
				grid = await gridLoad();
				toastDate = await dateLoad();
			});

			
			// Toast UI - Date Picker //
			// # reference : https://nhn.github.io/tui.date-picker/latest/tutorial-example05-picking-month
			// # reference : https://nhn.github.io/tui.date-picker/latest/DatePicker#event-change
			function dateLoad() {
				toastDate = new tui.DatePicker('#datepicker-month-ko', {
					date: new Date(),
					language: 'ko',
					input: {
						element: '#datepicker-input-ko',
						format: 'dd일'
					}
				});

				// get date value
				toastDate.on('change', function() {
					paymentDate = toastDate.getDate().getDate();
				});
				
				return toastDate;
			}
			
			// Toast UI - Grid //
			// # reference : https://adjh54.tistory.com/95
			// # reference : https://park-duck.tistory.com/entry/javascript-1-Toast-UI-Grid-%EA%B8%B0%EC%B4%88API-%EC%82%AC%EC%9A%A9%EB%B2%95
			// 01. Grid 생성.
			// return void
			const gridLoad = () => {
				const Grid = tui.Grid;
				// 02. Grid theme 설정. (clean, stripe, default)
				Grid.applyTheme('stripe');

				// 03. Toast UI Grid 구성.
				const grid = new Grid({
					// ================================== 공통 옵션 적용 ================================== //
					el: document.getElementById('grid'), // 필수 : Container element
					data: gwanlibiItemList,
					scrollX: false,
					scrollY: false,
					rowHeaders: ['rowNum'],
					// ================================== 컬럼 옵션 적용 ================================== //
					columns: [
						{
							header: '번호',
							name: 'gwanlibiItemNo',
							hidden: true
						},
						{
							header: '건물 번호',
							name: 'buildingId',
							hidden: true
						},
						{
							header: '관리비 변동 여부',
							name: 'variableYn',
							hidden: true
						},
						// [Column-1] 관리비 항목
						{
							header: '관리비 항목',
							name: 'gwanlibiName',
							resizable: true,
							sortable: true,
							align: 'center'
						},
						// [Column-2] 관리비
						{
							header: '관리비 금액',
							name: 'fixedPrice',
							resizable: true,
							align: 'center',
							editor: 'text',
							validation: {
								dataType: 'number',
								regExp: /^[0-9]*$/,
								required: true,
								min: 0
							}
						}
					]
				})
				//grid.validate();
				//console.log(grid.getData());

				// variableYn가 고정 값이면 해당 셀 사용 막기.
				grid.getData().forEach(ele => {
					console.log(ele.rowKey);
					if (ele.variableYn == '고정') {
						grid.disableCell(ele.rowKey, 'fixedPrice');
					}
				})


				// 관리비 저장 버튼 클릭 이벤트
				console.log(grid.getData());
				$('.saveBtn').on('click', function () {
					console.log(toastDate.getDate().getDate());
					// 유효성 검사
					if(!buildingId) return;
					
					// 유효성 검사
					if(paymentDate == '') {
						Swal.fire({
							icon: "error",
							title: "등록 실패 😢",
							text: "납부일을 선택해주세요!"
						});
						return;
					}

					// 유효성 검사
					if(grid.validate().length > 0) {
						Swal.fire({
							icon: "error",
							title: "등록 실패 😢",
							text: "금액을 정확하게 입력해주세요."
						});
						return;
					}

 					$.ajax({
						url: `${ctxPath}/insertGwanlibi?paymentDate=${paymentDate}`,
						method: 'post',
						contentType: 'application/json',
						data: JSON.stringify(grid.getData())
					}).done(function (url) {
						Swal.fire({
							icon: "success",
							title: "등록 완료 😊"
						}).then((result) => {
							if (result.isConfirmed) {
								location.href = ctxPath + url;
								//history.back();
							}
						})
					}).fail(function (err) {
						console.log(err);
						Swal.fire({
							icon: "error",
							title: "등록 실패 😢",
							text: "관리자에게 문의하세요."
						});
					});

				});

				return grid;
			}


		</script>
	</div>
</body>

</html>