
<div xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Main" class="row">
	<!-- start 건물리스트 -->
	<div class="col-md-4" id="buildList">
		<th:block th:each="building, index:${buildings}">
			<ul class="list-group">
				<li th:id="${building.buildingId}" th:data-index="${index.count}"
					class="list-group-item" style="font-size: 25px;">
					<div>[[${building.buildingName}]]</div>
					<div class="ps-4" style="font-size: 18px;">[[${building.doroAddr}]]
						[[${building.detailsAddr}]]</div>
					<div class="ps-4" style="font-size: 18px;">[[${building.totalGagu}]]세대</div>

				</li>
			</ul>
		</th:block>
		<button type="button"
			th:onclick="|location.href='@{/buildingInsert}'|"
			class="btn btn-outline-primary m-2">건물추가</button>
		<!-- 페이징  -->
		<nav aria-label="Page navigation example ">
			<ul class="pagination">
				<li class="page-item"><a class="page-link"
					th:href="@{/buildingList?pageNum=1}" aria-label="Previous"> <span
						aria-hidden="true">처음</span>
				</a></li>
				<li class="page-item" th:if="${page.startPage > 1}">
					<!-- startPage가 1보다 크면 이전 버튼 보이게 --> <a class="page-link"
					th:href="@{/buildingList?pageNum={page} (page = ${page.startPage -1})}"
					aria-label="Previous"> <span aria-hidden="true">이전</span>
				</a>
				</li>
				<th:block th:with="start = ${page.startPage}, end = ${page.endPage}">
					<li class="page-item"
						th:with="start = ${page.startPage}, end = ${page.endPage}"
						th:each="pageButton : ${#numbers.sequence(start, end)}"><a
						class="page-link"
						th:href="@{/buildingList?pageNum={page} (page = ${pageButton})}"
						th:text=${pageButton}></a></li>
				</th:block>
				<li class="page-item" th:if="${page.next}"><a class="page-link"
					th:href="@{/buildingList?pageNum{page} (page = ${page.endPage +1})}"
					aria-label="Next"> <span aria-hidden="true">다음</span>
				</a></li>
				<li class="page-item"><a class="page-link"
					th:href="@{/buildingList?pageNum={page} (page = ${page.realEnd})}"
					aria-label="Previous"> <span aria-hidden="true">끝</span>
				</a></li>
			</ul>
		</nav>
	</div><!-- end 페이징 -->


	<!-- End 건물리스트 -->
	<div class="col-md-8">
		<form name="updateForm" class="row g-3 infoDetail">
			<!-- start 건물 정보 -->
			<h1 id="bnameTitle"></h1>
			<div style="text-align: center;">
				<button type="button" class="btn btn-outline-primary m-2 "
					id="updateBtn">수정완료</button>
				<button type="button"
					class="btn btn-outline-danger m-2 deleteBtn bid">삭제</button>
			</div>
			<div>
				<input name="buildingId" type="hidden" class="bid" />
			</div>
			<!-- 	<div>
				<input name="groupId" type="hidden" class="groupid" />
			</div> -->

			<div>
				<div class="form-check form-switch" style="display: inline-block;">
					<label class="form-label"><span>연체 알림</span> </label><input
						role="switch" type="checkbox" class="form-check-input text-end"
						name="delayAlertYn" />
				</div>
				<div class="form-check form-switch" style="display: inline-block;">
					<label class="form-label"><span>민원 알림</span> </label><input
						role="switch" type="checkbox" class="form-check-input text-end"
						name="minwonAlertYn" />
				</div>
			</div>
			<div id="imgFile"></div>
			<div class="col-md-4">
				<label for=" file" class="form-label">빌딩 이미지</label> <input
					type="file" id="file" multiple name="files" class="form-control">
			</div>
			<div class="form-group col-md-7">
				<label for="bname" class="form-label">빌딩 이름 </label> <input
					type="text" id="bname" name="buildingName" class="form-control">
			</div>
			<div class="form-group col-md-7">
				<label for="sample6_address" class="form-label"
					th:style="${'padding-right:20px'}">주소</label> <input type="button"
					onclick="sample6_execDaumPostcode()" value="주소 찾기"
					class="btn btn-outline-secondary m-2"> <input type="text"
					id="sample6_address" placeholder="주소" name="doroAddr"
					class="form-control addr">
			</div>
			<div class="form-group col-md-7">
				<label for="sample6_detailAddress" class="form-label">상세 주소</label>
				<input type="text" id="sample6_detailAddress" placeholder="상세주소"
					name="detailsAddr" class="form-control dAddr">
			</div>

			<div class="form-group col-md-7">
				<label for="gunchookArea" class="form-label">건축면적 </label> <input
					type="text" id="gunchookArea" name="gunchookArea"
					class="form-control">
			</div>
			<div class="form-check form-switch">
				<label for="liftYn">승강기 여부 </label> <input type="checkbox"
					id="liftYn" name="liftYn" class="form-check-input text-end"
					role="switch">
			</div>
			<div class="form-group col-md-5">
				<label for="totalFloor" class="form-label">층 수 </label> <input
					type="text" id="totalFloor" name="totalFloor" class="form-control">
			</div>
			<div class="form-group col-md-5">
				<label for="floorGaguCount" class="form-label">층 별 가구수 </label> <input
					type="text" id="floorGaguCount" name="floorGaguCount"
					class="form-control">
			</div>
			<div class="form-group col-md-5">
				<label for="totalGagu" class="form-label">총 세대수 </label> <input
					type="text" id="totalGagu" name="totalGagu" class="form-control">
			</div>
			<div class="form-group col-md-5">
				<label for="parking" class="form-label">주차 가능 대수 </label> <input
					type="text" id="parking" name="parking" class="form-control">
			</div>

			<div class="form-group col-md-6">
				<label for="memo" class="form-label">비고 </label> <input type="text"
					id="memo" name="memo" class="form-control">
			</div>

		</form>
	</div>
	<!-- End 건물 정보 -->
	<div>
		<script>
			$(document).ready(function() {
				
				let firstBuilding = $('li[data-index="1"]').attr('id');
				if (firstBuilding) {
					getBuildingInfo(firstBuilding);
				}
				$('li').on('click', function(e) {
					$('#imgFile').html('');
					let buildingId = e.currentTarget.id;
					getBuildingInfo(buildingId);
				});
				function getBuildingInfo(buildingId) {
					//상세 정보
					$.ajax({
						url : ctxPath+ '/buildingDetails',
						type : 'GET',
						data : {
							id : buildingId
						},
						dataType : 'json',

					}).done(function(data) {
						$('#bnameTitle').html(data.buildingName);
						$("#bname").val(data.buildingName);
						$(".addr").val(data.doroAddr);
						$(".dAddr").val(data.detailsAddr);
						$("#gunchookArea").val(data.gunchookArea);
						$("#liftYn").val(data.liftYn);
						$("#totalFloor").val(data.totalFloor);
						$("#floorGaguCount").val(data.floorGaguCount);
						$("#totalGagu").val(data.totalGagu);
						$("#parking").val(data.parking);
						
						if(data.fileName != null) {
							//$('#groupId').val(data.groupId);
							let images = data.fileName;
							for(img of images){
								let imgName = $("<img>").attr({'src':ctxPath+'/images/'+'건물/'+img});
								$("#imgFile").append(imgName);
							} 
						} 
						
						checkFunc($("#liftYn"));
						$(".bid").val(data.buildingId);
					})
				}

			})
			//end of $(document).ready
			
			function checkFunc(liftYn) {
				if (liftYn.val() === 'Y') {
					liftYn.prop('checked', true);
				} else {

					liftYn.prop('checked', false);
				}
			}//end of checkFunc
			//수정
			$('#updateBtn').on('click', updateAjax);
			
			function updateAjax(){
				let dataObj = getData();
				
				$.ajax(ctxPath + '/buildingUpdate',{
					type:'post',
					contentType : 'application/json',
					data : JSON.stringify(dataObj),
				})
				.done(result=>{
					if(result.success){
						alert('정상 수정');
					$('#bnameTitle').html(result.target.buildingName);
					$('#'+result.target.buildingId).find("div").eq(0).html(result.target.buildingName);
					$('#'+result.target.buildingId).find("div").eq(1).html(result.target.doroAddr +' '+ result.target.detailsAddr);
					$('#'+result.target.buildingId).find("div").eq(2).html(result.target.totalGagu+'세대');
						
					}else{
						alert('수정 실패');
					}
				})
			}//end of updateAjax
			
			function getData(){
				let formArr = $('form[name="updateForm"]').serializeArray();
				//console.log(formArr);
				let formObj = {};
				$.each(formArr, function(idx, ele){
					formObj[ele.name] = ele.value;
				});
				console.log(formObj);
				return formObj;
			}
			//체크박스
			$('input:checkbox').change(function() {
				if (this.checked) {

					$(this).attr('value', 'Y');
				} else {
					$(this).attr('value', 'N');
				}
			})
			//삭제 버튼
			$('.deleteBtn').on('click',function(e){
				if(confirm('삭제 하시겠습니까?')==true){
					location.href= ctxPath + "/buildingDelete?id=" + e.target.value;
				}
				else{
					return;
				}
			})
		
			
		</script>
		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode({
				oncomplete : function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					document.getElementById("sample6_address").value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById("sample6_detailAddress").focus();
				}
			}).open();
		}
	</script>
	</div>
</div>