<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>title</title>
<style>
input {
	border-width: 0 0 1px;
}

#hoSel {
	width: 60px;
}
</style>
</head>
<body>
	<div layout:fragment="Main" class="row">
		<div>
			<form th:action="@{/buildingInsert}" method="POST" name="insertForm"
				class="row g-3" enctype="multipart/form-data">
				<div class="col-md-6">
					<label for="ocrFileName" class="form-label">일반 건축물 대장(갑)
						이미지</label> <input type="file" id="ocrFileName" class="form-control"
						name="ocrFile" accept=".jpg, .jpeg, .png">

				</div>
				<div class="col-md-1">
					<img th:src="@{/img/업로드.png}"
						th:style="${'width:30px; cursor:pointer; margin-top:32px'}"
						id="fileImg">
				</div>

				<div class="col-md-6">
					<label for="file" class="form-label">빌딩 이미지</label> <input
						type="file" id="file" multiple name="files" class="form-control">
				</div>
				<div>
					<div class="form-check form-switch" style="display: inline-block;">
						<label class="form-label"><span>자동 방생성</span> </label><input
							role="switch" type="checkbox" class="form-check-input text-end" />
					</div>
					<div class="form-check form-switch" style="display: inline-block;">
						<label for="liftYn">승강기 여부 </label> <input type="checkbox"
							id="liftYn" name="liftYn" class="form-check-input text-end"
							role="switch">
					</div>
				</div>

				<div class="form-group col-md-7">
					<label for="bname" class="form-label">빌딩 이름 </label> <input
						type="text" id="bname" name="buildingName" class="form-control">
				</div>
				<div class="form-group col-md-7">
					<label for="sample6_address" class="form-label"
						th:style="${'padding-right:30px'}">주소</label> <input type="button"
						onclick="sample6_execDaumPostcode()" value="주소 찾기"
						class="btn btn-outline-primary m-2"> <input type="text"
						id="sample6_address" placeholder="주소" name="doroAddr"
						class="form-control">
				</div>
				<div class="form-group col-md-7">
					<label for="sample6_detailAddress" class="form-label">상세 주소</label>
					<input type="text" id="sample6_detailAddress" placeholder="상세주소"
						name="detailsAddr" class="form-control">
				</div>
				<div class="form-group col-md-5"></div>
				<div class="form-group col-md-5">
					<label for="floorArea" class="form-label">연면적 </label> <input
						type="text" id="floorArea" name="floorArea" class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="floorAreaRatio" class="form-label">용적률 산정용 연면적
					</label> <input type="text" id="floorAreaRatio" name="floorAreaRatio"
						class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="gunchookArea" class="form-label">건축면적 </label> <input
						type="text" id="gunchookArea" name="gunchookArea"
						class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="buildingHeigh" class="form-label">건물 높이 </label> <input
						type="text" id="buildingHeigh" name="buildingHeigh"
						class="form-control">
				</div>

				<div class="form-group col-md-5">
					<label for="totalFloor" class="form-label">층 수 </label> <input
						type="text" id="totalFloor" name="totalFloor" class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="floorGaguCount" class="form-label">층 별 가구수 </label> <input
						type="text" id="floorGaguCount" name="floorGaguCount"
						class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="totalGagu" class="form-label">총 세대수 </label> <input
						type="text" id="totalGagu" name="totalGagu" class="form-control">
				</div>
				<div class="form-group col-md-5">
					<label for="parking" class="form-label">주차 가능 대수 </label> <input
						type="text" id="parking" name="parking" class="form-control">
				</div>

				<div class="form-group col-md-6">
					<label for="memo" class="form-label">비고 </label> <input type="text"
						id="memo" name="memo" class="form-control">
				</div>
				<div>
					<button type="button" class="btn btn-outline-primary m-2"
						id="buildingInsertBtn">저장</button>
					<button type="button"
						th:onclick="|location.href='@{buildingList}'|"
						class="btn btn-outline-secondary m-2">취소</button>

				</div>

			</form>
			<!-- Modal -->
			<form name="roomForm">
				<div class="modal fade" id="staticBackdrop"
					data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
					aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<input type="text" name="buildingId" id="bid">
								<h5 class="modal-title" id="staticBackdropLabel">자동 방생성</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								층수 : <input type="text" id="floorCnt" style="width: 40px;">
								층별 가구수 : <input type="text" id="gaguCnt" style="width: 40px;">
								<button type="button" id="insertBtn">생성 버튼</button>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>층 수</th>
											<th colspan="4">호실</th>
										</tr>
									</thead>
									<tbody id="tb">
									</tbody>
								</table>
							</div>
							<div class="modal-footer">
								<button type="button" id="roomInsertBtn" class="btn btn-primary">저장</button>
								<button type="button" class="btn btn-secondary"
									data-bs-dismiss="modal">취소</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<script>
		 
	
	//건물 추가
		$('#buildingInsertBtn').on('click', insertBuilding);
		
		function insertBuilding(){
			/* let buildingName = $('input[name="buildingName"]');
			if (buildingName.val() == '') {
				alert('빌딩 이름을 입력해주세요.');
				buildingName.focus();
				return;
			}
			let doroAddr = $('input[name="doroAddr"]');
			if (doroAddr.val() == '') {
				alert('주소를 입력해주세요.');
				doroAddr.focus();
				return;
			}
			let detailsAddr = $('input[name="detailsAddr"]');
			if (detailsAddr.val() == '') {
				alert('상세 주소를 입력해주세요.');
				detailsAddr.focus();
				return;
			}
			let gunchookArea = $('input[name="gunchookArea"]');
			if (gunchookArea.val() == '') {
				alert('건축 면적을 입력해주세요.');
				gunchookArea.focus();
				return;
			}
			let liftYn = $('input[name="liftYn"]');
			if (liftYn.val() == '') {
				alert('승강기 여부를 선택해주세요.');
				liftYn.focus();
				return;
			}
			let totalFloor = $('input[name="totalFloor"]');
			if (totalFloor.val() == '') {
				alert('총 층수를 입력해주세요.');
				totalFloor.focus();
				return;
			}
			let floorGaguCount = $('input[name="floorGaguCount"]');
			if (floorGaguCount.val() == '') {
				alert('층별 가구수를 입력해주세요.');
				floorGaguCount.focus();
				return;
			}
			let parking = $('input[name="parking"]');
			if (parking.val() == '') {
				alert('주차 가능 대수를 입력해주세요.');
				parking.focus();
				return;
			} */
			
			
			let formData = new FormData(document.insertForm);
		
			$.ajax(ctxPath + "/buildingInsert",{
				type:'post',
				data: formData,
				contentType: false,
			    processData: false,
			}).done(result => {
				//console.log(result, "result");
				 if (!confirm("건물이 추가되었습니다.\n자동 방생성을 하시겠습니까?")) {
					location.href=ctxPath+"/buildingList";
				 } else {
					$('#bid').val(result);
				    $('#staticBackdrop').modal('show');
			    } 
				
			});
		}	
		//insertFrom input data
		/* function getData(){
			let formArr = $('form[name=insertForm]').serializeArray();
			let formList = {};
			
			$.each(formArr, function(idx, ele){
				formList[ele.name]= ele.value;
			})
			console.log(formList);
			return formList;
		} */

		//체크박스
		$('input:checkbox').change(function() {
			if (this.checked) {

				$(this).attr('value', 'Y');
			} else {
				$(this).attr('value', 'N');
			}
		})
		
		//방 생성
		 $('#roomInsertBtn').on('click', function(e) {
		
			 let data =getList()
			$.ajax(ctxPath+"/selectRoomInsert",{
				type:'post',
				contentType : 'application/json',
				data:JSON.stringify(data),
				
			}).done(result=>{
				location.href= ctxPath + "/buildingList";
			});
		}); 
			
		//방 자동생성 정보 
	 	function getList(){
		
	 		let roomList = [];
			
			let buildingId=$('#bid').val();
			//let floor=$('#floorCnt').val();
			
			let chks = $('input[name=chk]:checked').next();
			for(chk of chks){
				let floor = $(chk).attr('class');
				let roomNo= chk.value;
				roomList.push({buildingId, floor, roomNo});
			} 
			console.log(roomList);
			return roomList;
		}; 
		
		
		
		//ocr 업로드
		$('#fileImg').on('click', function(){
			let url = ctxPath + "/ocrUpload";
			let fileName = $("input[name='ocrFile']")[0].files[0];
			var formData = new FormData();
			formData.append("file",fileName);
			
			$.ajax(url,{
				type:"post",
				data : formData,
				contentType: false,
			    processData: false,
			}).done(result=>{
				//$('#ocrFileName').val(result.ocrFileName);
				$('input[name="doroAddr"]').val(result.fullAddress);
				$('input[name="totalFloor"]').val(result.floor);
				$('input[name="floorAreaRatio"]').val(result.floorAreaRatio);
				$('input[name="gunchookArea"]').val(result.gunchook);
				$('input[name="buildingHeigh"]').val(result.heigh);
				$('input[name="totalGagu"]').val(result.saedae);
				$('input[name="floorArea"]').val(result.floorArea);
			})
		})
	</script>

		<script
			src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script>
		function sample6_execDaumPostcode() {
			new daum.Postcode({
				oncomplete : function(data) {
					// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

					// 각 주소의 노출 규칙에 따라 주소를 조합한다.
					// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					var addr = ''; // 주소 변수
					var extraAddr = ''; // 참고항목 변수

					//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
					if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
						addr = data.roadAddress;
					} else { // 사용자가 지번 주소를 선택했을 경우(J)
						addr = data.jibunAddress;
					}

					document.getElementById("sample6_address").value = addr;
					// 커서를 상세주소 필드로 이동한다.
					document.getElementById("sample6_detailAddress").focus();
				}
			}).open();
		}
	</script>
		<script>
			$('#insertBtn').on('click', roomCreate);

			function roomCreate() {
				let floor = Number($('#floorCnt').val());
				let gagu = Number($('#gaguCnt').val());
				
				let tbody;
				//console.log(floors);
				for (let i = 1; i <= floor; i++) {
					tbody += `<tr>`;
					tbody += `<td><input type="checkbox" id="checkbox${i}" class="selectRoom"><span>${i}층<span></td>`;
					for (let j = 1; j <= gagu; j++) {
						if (j < 10) {
							j = '0' + j;
						} else {
							j = String(j);
						}
						tbody += `<td><input type="checkbox" name="chk"><input type = "text" class="${i}" name="roomNo" id = "hoSel" value=${i+j}></td>`;
					}
					tbody += `<td><button type ="button" id="addBtn${i}" class="addRoom">추가</button>`;
					tbody += `<button type ="button" id="delBtn${i}" class="delRoom">삭제</button></td>`;
					tbody += `</tr>`;

				}
				$("#tb").html("");
				$('#tb').append(tbody);
					
				//행 선택 checkbox
				$('.selectRoom').click(function(e){
				
					let parent = $(e.target).closest('tr')
					if($(e.target).is(":checked")){
						parent.find('input[name="chk"]').prop("checked",true);
										
					}else{
						parent.find('input[name="chk"]').prop("checked",false);
					
					}
				})
				$("input[name=chk]").click(function(e) {
					let tr = $(e.target).closest('tr');
					let total = tr.find("input[name=chk]").length;
					let checked = tr.find("input[name=chk]:checked").length;
					
					if(total != checked) {
						tr.find(".selectRoom").prop("checked", false);
					}
					else {
						tr.find(".selectRoom").prop("checked", true); 
					}
				});//end 행선택
				
				//호실 삭제
				$('.delRoom').on('click',function(e){
					let delSel = $(e.target).closest('tr');
					if(delSel.find('.selectRoom').is(':checked')){
						delSel.find('input[name=chk]').closest('tr').remove();
					}
					else {
						delSel.find("input[name=chk]:checked").parent().remove();
					}
				
				});
				//호실 추가
				$('.addRoom').on('click',function(e){
					let addSel = $(e.target).closest('tr');
					addSel.find('.addRoom').parent().before(`<td><input type="checkbox" name="chk"><input type="text" id = "hoSel"></td>`);
					
				})
			}
		</script>
	</div>


</body>
</html>