<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<title>title</title>
<style>
input {
  border-width: 0 0 1px;
}
#hoSel{
	width: 30px;
}

</style>
</head>
<body>
	<div layout:fragment="Main">
		<h1>방생성</h1>
		층수 : <input type="text" id="floorCnt"> 층별 가구수 : <input
			type="text" id="gaguCnt">
		<button type="button" id="insertBtn">생성 버튼</button>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>층 수</th>
					<th colspan="4">호실</th>
				</tr>
			</thead>
			<tbody id="tb">
			</tbody>
		</table>
		
		<script>
			$('#insertBtn').on('click', roomCreate);

			function roomCreate() {
				let floor = Number($('#floorCnt').val());
				let gagu = Number($('#gaguCnt').val());
				
				let tbody;
				//console.log(floors);
				for (let i = 1; i <= floor; i++) {
					tbody += `<tr>`;
					tbody += `<td><input type="checkbox" id="checkbox${i}" class="selectRoom">${i}층</td>`;
					for (let j = 1; j <= gagu; j++) {
						if (j < 10) {
							j = '0' + j;
						} else {
							j = String(j);
						}
						tbody += `<td><input type="checkbox" name="chk"><input type = "text" id = "hoSel" value=${i+j}></td>`;
					}
					tbody += `<td><button type ="button" id="addBtn${i}" class="addRoom">추가</button>`;
					tbody += `<button type ="button" id="delBtn${i}" class="delRoom">삭제</button></td>`;
					tbody += `</tr>`;

				}
				$("#tb").html("");
				$('#tb').append(tbody);
				
				//호실 추가 버튼
				$('.addRoom').on('click', insertRoom);
				function insertRoom(event) {
					
				}
					
				//행 선택 checkbox
				$('.selectRoom').click(function(e){
				
					let parent = $(e.target).closest('tr')
					if($(e.target).is(":checked")){
						parent.find('input[name="chk"]').prop("checked",true);
										
					}else{
						parent.find('input[name="chk"]').prop("checked",false);
					
					}
				})
				$("input[name=chk]").click(function(e) {
					let tr = $(e.target).closest('tr');
					let total = tr.find("input[name=chk]").length;
					let checked = tr.find("input[name=chk]:checked").length;
					
					if(total != checked) {
						tr.find(".selectRoom").prop("checked", false);
					}
					else {
						tr.find(".selectRoom").prop("checked", true); 
					}
				});//end 행선택
				
				//호실 삭제
				$('.delRoom').on('click',function(e){
					let delSel = $(e.target).closest('tr');
					if(delSel.find('.selectRoom').is(':checked')){
						delSel.find('input[name=chk]').closest('tr').remove();
					}
					else {
						delSel.find("input[name=chk]:checked").parent().remove();
					}
				
				});
				//호실 추가
				$('.addRoom').on('click',function(e){
					let addSel = $(e.target).closest('tr');
					addSel.find('.addRoom').parent().before(`<td><input type="checkbox" name="chk"><input type="text" id = "hoSel"></td>`);
					
				})
			}
		</script>
		<div class="col-md-5 col-sm-6 border border-dark me-3 mt-3"
						th:each="room : ${roomList}">
						<div class="row mb-1 mt-1">
							<div class="col">
								<div class="d-flex justify-content-between">
									<h4>[[${room.buildingName}]]</h4>
									<div>
										<button type="button"
											class="btn btn-outline-success offVisible">입주 예정</button>
									</div>
									<h5>[[${room.constractType}]]</h5>
									<div>
										<button type="button" class="btn btn-outline-success">[[${room.ipjuState
											== -1 ? '공실' : '입주'}]]</button>
									</div>
								</div>
							</div>
						</div>
						<div class="row gx-0">
							<h4 class="col">[[${room.roomNo}]]호 &nbsp;
								[[${room.imchainName}]]</h4>
							<div class="col text-end">
								<button type="button" class="btn btn-outline-danger offVisible">연체</button>
							</div>
						</div>
						<h4 class="row gx-0">(보)[[${room.deposit == 0 ? '없음' :
							(room.deposit / 10000) + '만원'}]] (월) [[${room.mRent == 0 ? '없음' :
							(room.mRent / 10000) + '만원'}]]</h4>
						<div class="row gx-0">[[${room.constractDate != null ?
							'계약기간: ' + #dates.format(room.constractDate, 'yyyy.MM.dd') + ' ~
							' + #dates.format(room.expDate, 'yyyy.MM.dd') : '계약 정보가 없습니다.'}]]</div>
						<div class="row gx-0">
							<div class="col-8 text-truncate">
								<b>비고:[[${room.memo}]]</b>
							</div>
						</div>
						<div class="row gx-0">
							<div class="col">
								<button type="button" th:data-cno="${room.constractNo}"
									th:data-bname="${room.buildingName}"
									th:data-page="${paging.page}"
									th:data-buildingid="${buildingVO.buildingId}"
									th:data-roomid="${room.roomId}"
									class="btn btn-outline-secondary infoBtn w-100"
									data-bs-toggle="modal" data-bs-target="#contractModal">계약정보</button>
							</div>
							<div class="col">
								<button type="button" th:data-bname="${room.buildingName}"
									th:data-roomid="${room.roomId}" th:data-page="${paging.page}"
									th:data-buildingid="${buildingVO.buildingId}"
									class="btn btn-outline-secondary bookBtn w-100"
									data-bs-toggle="modal" data-bs-target="#contractModal">입주예약</button>
							</div>
						</div>
					</div> 
		
		
	</div>

</body>
</html>